{% extends "appbase.html" %}


{% block eachtitle %}
 - Accounts
{% endblock %}
{% block content %}
<div id="area_accounts" class="container accounts_body" v-cloak>
    <div class="row white z-depth-2 search-box">
        <div class="col s12">
            <form name="addinstance" v-on:submit.prevent="onsubmit_addinstance">
                <v-layout row wrap>
                    <v-flex xs9 sm9 md6 offset-md3>
                            <v-text-field v-model="inputinstance"
                            flat clearable
                            hide-details
                            label="{{trans.txt_add_instance}}"
                            
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs3>
                        <button id="btn_reg_account" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">add</i></button>
                    </v-flex>
                </v-layout>
                <!--<div class="col s9 m6 offset-m3">
                    <div class="input-field red-text">
                        <input placeholder="{{trans.txt_add_instance}}" id="txt_add_instance" type="text" class="validate">
                        <label for="txt_add_instance" >{{trans.lab_txt_add_instance}}</label>
                    </div>
                    
                </div>
                <div class="col s3">
                    <button id="btn_reg_account" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">add</i></button>
                </div>-->
            </form>
        </div>
    </div>
    <div class="row area_acc white z-depth-2">
        <div class="col s12">
            <table id="tbl_acc" class="striped highlight responsive-table">
                <thead>
                    <tr>
                        <th><a id="btn_del_account" class="btn-flat mini waves-effect waves-red" v-on:click="ondelete_account"><i class="material-icons">delete</i></a></th>
                        <th> </th>
                        <th>{{trans.tbl_acc_col1}}</th>
                        <th>{{trans.tbl_acc_col2}}</th>
                        <th>{{trans.tbl_acc_col3}}</th>
                        <!--<th>{{trans.tbl_acc_col4}}</th>-->
                        <th>{{trans.tbl_acc_col5}}</th>
                        <th>{{trans.tbl_acc_col6}}</th>
                        <th>{{trans.notifications}}</th>
                    </tr>
                </thead>
                <tbody v-cloak>
                    <tr v-for="(item, index) in accounts">
                        <td>
                            <label>
                                <input v-bind:id="'chk_ac'+index" type="checkbox" v-model="item.selected"/>
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <a v-bind:href="accountAppLink(item.account)" v-bind:title="item.account.rawdata.acct">
                                <img v-bind:src="item.account.rawdata.avatar" class="userrectangle" width="40" height="40" v-bind:alt="item.account.idname">
                            </a>
                        </td>
                        <td>
                            <a v-bind:href="accountAppLink(item.account)" v-bind:title="item.account.rawdata.acct" v-html="ch2seh(fullname(item.account))">
                                
                            </a>
                        </td>
                        <td>{? "@" + item.account.idname ?}</td>
                        <td><a :href="getInstanceLink(item.account.instance)" :title="item.account.instance">{? getInstanceTitle(item.account.instance) ?}</a></td>
                        <!--<td class="righted">{? item.account.rawdata.statuses_count ?}</td>-->
                        <td class="righted">{? item.account.rawdata.following_count ?}</td>
                        <td class="righted">{? item.account.rawdata.followers_count ?}</td>
                        <td>
                            <v-btn flat icon color="primary" v-on:click="onclick_pushsub(item.account)">
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <!--<v-switch
                                label="ON"
                                v-on:change="is_bottomsheet=!is_bottomsheet"
                            ></v-switch>
                            <div class="switch"><span>{? item.account.display_name ?}</span>
                                <label>
                                    <input type="checkbox" v-model="item.is_notification" v-on:change="oncheck_following">
                                    <span class="lever"></span>
                                    <i class="material-icons tooltipped black-text" data-position="bottom" data-tooltip="Web {{trans.notifications}}">notifications</i>
                                </label>
                            </div>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <v-bottom-sheet inset v-model="is_bottomsheet" v-if="select_subscription.account">
        <v-card>
            <v-card-title primary-title>
                <v-layout row wrap>
                    <v-flex xs2>
                        <div class="title">{{trans.notifications}} :</div>
                    </v-flex>
                    <v-flex xs8>
                        <div class="title" v-html="ch2seh(fullname(select_subscription.account))"></div>
                    </v-flex>
                    <v-flex xs2>
                        <v-btn fab dark color="red" v-on:click="onclick_savepushsub">
                            <v-icon>save</v-icon>
                        </v-btn>                                
                    </v-flex>
                </v-layout>
                
            </v-card-title>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xs12>
                        Desktop {{trans.notifications}}
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            label="{{trans.mention}}"
                            v-model="select_desktop.alert.mention"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            :label="get_translated_typename('favourite')"
                            v-model="select_desktop.alert.favourite"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            :label="get_translated_typename('reblog')"
                            v-model="select_desktop.alert.reblog"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            label="{{trans.acc_tab_following}}"
                            v-model="select_desktop.alert.follow"
                        ></v-switch>
                    </v-flex>
                        
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12>
                        Web Push {{trans.notifications}}
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            label="{{trans.mention}}"
                            v-model="select_subscription.alert.mention"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            :label="get_translated_typename('favourite')"
                            v-model="select_subscription.alert.favourite"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            :label="get_translated_typename('reblog')"
                            v-model="select_subscription.alert.reblog"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 sm6 md3>
                        <v-switch
                            label="{{trans.acc_tab_following}}"
                            v-model="select_subscription.alert.follow"
                        ></v-switch>
                    </v-flex>
                        
                </v-layout>
            </v-card-text>    
        </v-card>
    </v-bottom-sheet>
</div>
{% endblock %}


{% block userinclude %}
<script src="/static/js/appaccounts.js"></script>
{% endblock %}