{% extends "appbase.html" %}

{% block eachtitle %}
 - {{trans.accounts}}
{% endblock %}
{% block content %}
<div id="area_account" class="account_body">
    <div id="userview" class="user-view" v-cloak>
        <div class="background">
        <img id="us_header" v-bind:src="header" alt="">
        </div>
        <div class="user-textinfo z-depth-2" v-if="rawdata">
            <a v-bind:href="rawdata.url" target="_blank" rel="noopener">
                <img id="us_avatar" class="userrectangle" v-bind:src="avatar" alt="">
                <div style="display:inline-block">
                    <span id="us_display_name" class="white-text name" v-html="ch2seh(full_display_name)"></span>
                    <span id="us_idname_instance" class="white-text email" v-text="full_acct"></span>
                </div>
            </a>
        </div>
        <div class="user-action-btns col_ac1 elevation-2">
            <v-layout>
                <v-flex xs1>
                    <v-btn flat icon v-on:click="onclick_editor">
                        <v-icon>edit</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
        </div>
        <!--<div class="user-action-btns col1 z-depth-2 row">
            <div class="col s12">
                
                <div class="switch">
                    <label class="tooltipped" data-position="bottom" data-tooltip="{{trans.to_follow}}" >
                        <i class="material-icons">person_outline</i>
                        <input type="checkbox">
                        <span class="lever"></span>
                        <i class="material-icons white-text">person_add</i>
                    </label>
                </div>
            </div>
        </div>
        <div class="user-action-btns col2 z-depth-2 row">
            <div class="col s5">
                <a href="#" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_mention}}" disabled><i class="material-icons">alternate_email</i></a>
                <a href="#" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_directmsg}}"><i class="material-icons">email</i></a>
            </div>
            <div class="col s5">
                <a href="#" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_endorsements}}"><i class="material-icons">sentiment_very_satisfied</i></a>
                <a href="#" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_rssfeed}}"><i class="material-icons">rss_feed</i></a>
            </div>
            <div class="col s2">
                <a href="#" class="waves-effect waves-red white-text dropdown-trigger" data-target='dropdown1'><i class="material-icons">more_vert</i></a>
            </div>
        </div>-->
        <div class="user-action-btns col4 elevation-2">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-tooltip left>
                        <v-btn flat icon color="white" slot="activator" v-on:click="onclick_copypath">
                            <v-icon>account_box</v-icon>
                        </v-btn>
                        <span>{{trans.to_copy_asuser}}</span>
                    </v-tooltip>                    
                </v-flex>
            </v-layout>
        </div>
    </div>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#" class="black-text" ><i class="material-icons">volume_off</i>{{trans.to_mute}}</a></li>
        <li><a href="#" class="black-text" ><i class="material-icons">block</i>{{trans.to_block}}</a></li>
        <li><a href="#" class="black-text"><i class="material-icons">report_problem</i>{{trans.to_report}}</a></li>
    </ul>
    <div class="row user-tabs">
        <div class="col s12 tabbar">
            <ul id="tabbar" class="tabs tabs-fixed-width">
                <li class="tab col s2"><a href="#basicinfo">{{trans.acc_tab_info}}</a></li>
                <li class="tab col s2"><a href="#tt_public">{{trans.acc_tab_toot}}</a></li>
                <!--<li class="tab col s2"><a href="#tt_tlonly">{{trans.acc_tab3}}</a></li>
                <li class="tab col s2"><a href="#tt_private">{{trans.acc_tab4}}</a></li>-->
                <li class="tab col s2"><a href="#tt_fav">{? tab_favourite ?}</a></li>
                <!--<li class="tab col s2"><a href="#tt_list">{{trans.acc_tab_list}}</a></li>-->
            </ul>
        </div>
        <!-- tab content -->
        <div id="basicinfo" class="col s12 tabcontent" v-cloak>
            <p id="us_description" class="flow-text" v-html="ch2seh(note.replace('<p>','').replace('</p>',''))" v-cloak></p>
            <!--<v-list>
                <v-list-tile avatar v-for="fld in fields">
                    <v-list-tile-avatar>
                        <v-icon>{? fieldicon(fld.name) ?}</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title v-html='ch2seh(fieldname(fld.name))'></v-list-tile-title>
                        <v-list-tile-sub-title v-html="ch2seh(fld.value)"></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>-->
            <v-layout row wrap>
                <v-flex xs12 sm12 md6 v-for="fld in fields">
                    <v-card>
                        <v-card-title primary-title>
                            <v-icon>{? fieldicon(fld.name) ?}</v-icon>
                            <b class="title" v-text='ch2seh(fieldname(fld.name))'></b>
                        </v-card-title>
                        <v-card-text>
                            <div class="subheading" v-html="ch2seh(fld.value)"></div>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <!--<ul id="tbl_fields" class="collection" >
                <li class="collection-item avatar" v-for="fld in fields">
                    <i class="material-icons circle">{? fld.name.indexOf(":") >= 0 ? fld.name.split(":")[0] : "comment"?}</i>
                    <span class="title">{? fld.name.indexOf(":") >= 0 ? fld.name.split(":")[1] : fld.name ?}</span>
                    <p v-html="fld.value"></p>
                </li>
            </ul>-->
            <h3 v-if="statuses.length > 0">{{ trans.pinned_post }}</h3>
            <div class="timelinebody toot_timeline_grid" v-bind:class="timeline_gridstyle">
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.body.id"
                    v-for="status in statuses"
                    v-bind:popuping="popuping"
                    v-bind:datastyle="datastyle"
                    v-bind:comment_viewstyle="comment_viewstyle"
                    v-bind:comment_list_area_viewstyle="comment_list_area_viewstyle"
                    v-bind:content_body_style="content_body_style"
                    v-bind:gallery_options="gallery_options"
                ></timeline-toot>
            </div>
        </div>
        <div id="tt_public" class="col s12 tabcontent" v-cloak>
            <div class="pending_above_area" v-if="pending.above.is == true">
                <v-layout row wrap >
                    <v-flex xs2 offset-xs4>
                        <v-btn round color="red" dark v-on:click="onclick_show_pending">{? _T("msg_pending",[pending.above.statuses.length]) ?}</v-btn>
                    </v-flex>    
                </v-layout>
            </div>
            <div class="timelinebody toot_timeline_grid" v-bind:class="timeline_gridstyle">
                <div class="card toot_card_base topItem" >
                    <!--<div class="card-content">
                    <div class="row">
                        <div class="input-field col s6">
                            <select id="sel_tlshare" v-model="selshare_current">
                                <template v-for="item in sel_tlshare">
                                    <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                </template>
                            </select>
                        </div>
                        <div class="input-field col s6">
                            <select id="sel_tltype" v-model="seltype_current">
                                <template v-for="item in sel_tltype">
                                    <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    </div>-->
                    <timeline-condition
                        :translation="translations"
                        :condition="tlcond"
                        v-on:saveclose="onsaveclose"
                        v-on:datesaveclose="ondatesaveclose"
                    ></timeline-condition>
                </div>
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
            <!--
                 
                    v-bind:cardtype_size="status.cardtypeSize"
                    v-bind:toot_reactions="status.reactions"
                    v-bind:account="status.account"
                    v-bind:toote="status.body" 
                    v-bind:toote_mentions="status.mentions"
                    v-bind:toote_tags="status.tags"
                    v-bind:ancestors="status.ancestors",
                    v-bind:descendants="status.descendants"
            -->
            <div class="pending_below_area" v-if="statuses.length < 10">
                <v-layout row wrap >
                    <v-flex xs2 offset-xs6>
                        <v-btn fab dark small color="red" v-on:click="onclick_load_below">
                            <v-icon>expand_more</v-icon>
                        </v-btn>
                    </v-flex>    
                </v-layout>
            </div>
        </div>
        <!--<div id="tt_tlonly" class="col s12 tabcontent">

        </div>
        <div id="tt_private" class="col s12 tabcontent">

        </div>-->
        <div id="tt_fav" class="col s12 tabcontent" v-cloak>
            <div class="pending_above_area" v-if="pending.above.is == true">
                <v-layout row wrap >
                    <v-flex xs2 offset-xs4>
                        <v-btn round color="red" dark v-on:click="onclick_show_pending">{? _T("msg_pending",[pending.above.statuses.length]) ?}</v-btn>
                    </v-flex>    
                </v-layout>
            </div>
            <div class="timelinebody post_card_grid post_card_grid_cellsetting">
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
        </div>
        <!--<div id="tt_list" class="col s12 tabcontent">

        </div>-->
    </div>
    <div id="editdlg">
        <v-dialog v-model="dialog"
            persistent scrollable :fullscreen="$vuetify.breakpoint.smAndDown"
            max-width="600px"
            transition="dialog-transition" v-cloak
        >
            <v-card v-if="user">
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xs6 sm6 md3>
                            <span>{{ trans.lab_avatar }}</span>
                            <img :src="user.rawdata.avatar" width="128" height="128">
                            <input type="file" id="hid_avatarfile" accept="image/png, image/jpeg" v-on:change="onclick_avatarfilepath" placeholder="{{trans.lab_avatar}}">
                        </v-flex>
                        <v-flex xs6 sm6 md5>
                            <span>{{ trans.lab_header}}</span>
                            <v-img :src="user.rawdata.header" aspect-radio="1"></v-img>
                            <input type="file" id="hid_headerfile" accept="image/png, image/jpeg" v-on:change="onclick_headerfilepath" placeholder="{{trans.lab_header}}">
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 sm12 md5>
                            <v-text-field label="{{trans.lab_username}}" readonly v-model="user.rawdata.username"></v-text-field>                            
                        </v-flex>
                        <v-flex xs12 sm12 md6 offset-md1>
                            <v-text-field label="{{trans.lab_display_name}}" v-model="user.rawdata.display_name"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-textarea v-model="note" label="{{trans.lab_note}}"
                                outline box rows="5" height="10rem" hide-details
                            ></v-textarea>
                            <p v-bind:class="css.note">{? note.length + "/" + cons.note ?}</p>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <p>{{trans.lab_field}}</p>
                            <v-btn-toggle mandatory v-model="toggle_field">
                                <v-btn flat v-for="(fld,index) in cons.fields" :value="index">
                                    {{trans.lab_field}}{? (fld) ?}
                                </v-btn>
                            </v-btn-toggle>
                        </v-flex>
                        <v-flex xs5>
                            <v-text-field label="{{trans.lab_field_name}}" :counter="cons.field_name" v-model="field_name"></v-text-field>
                        </v-flex>
                        <v-flex xs5 offset-xs1>
                            <v-checkbox class="common_ui_off" hide-details v-model="toggle_extension" label="{{trans.lab_extension}}"></v-checkbox>
                        </v-flex>
                        <v-flex xs12>
                            <template v-if="toggle_extension">
                                <div>
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <span v-bind:class="css.extension">
                                                {{trans.lab_sumcount}}： {? ext_vallength ?}
                                            </span>
                                        </v-flex>
                                        <template v-for="(item,index) in ext">
                                            <v-flex xs4>
                                                <v-text-field maxlength="20" counter="20" label="{{trans.lab_field_name}}" v-bind:disabled="extdisabled[index]" v-model="item.name"></v-text-field>
                                            </v-flex>
                                            <v-flex xs7 offset-xs1>
                                                <v-text-field label="{{trans.lab_field_value}}"  v-bind:disabled="extdisabled[index]" v-model="item.value"></v-text-field>
                                            </v-flex>
                                        </template>
                                    </v-layout>
                                </div>
                            </template>
                            <template v-else>
                                <v-textarea v-model="field_value" label="{{trans.lab_field_value}}"
                                    outline box rows="5" height="10rem" hide-details 
                                ></v-textarea>
                                <p v-bind:class="css.field_value">{? field_value.length + "/" + cons.field_value ?}</p>
                            </template>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-checkbox hide-details v-model="user.rawdata.locked" label="{{trans.lab_locked}}"></v-checkbox>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    
                    <v-tooltip right>
                        <a :href="oprofile" slot="activator" target="_blank">{{trans.lab_official_profile}}</a>
                        <span>{{trans.msg_official_profile}}</span>
                    </v-tooltip>                                            
                       
                    <v-spacer></v-spacer>
                    <v-progress-circular v-show="isloading" indeterminate color="red"></v-progress-circular>
                    <v-btn flat small color="primary" v-on:click="onclick_close(false)">{{trans.cons_cancel}}</v-btn>
                    <v-btn flat small color="primary" v-on:click="onclick_apply(true)">{{trans.cons_apply}}</v-btn>    
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</div>
<input type="hidden" id="hid_instance" value="{{instance}}" />
<input type="hidden" id="hid_uid" value="{{uid}}" />
{% endblock %}


{% block userinclude %}
<script src="/static/js/appaccount.js"></script>
{% endblock %}