

<!DOCTYPE html>
<html lang="{{ lang }}">
    <HEAD>
        {% if sysinfo.hostname  == 'gplusdon.net' %}
        {% include 'jslib_gglanal.html' %}
        {% include 'jslib_gs1meta.html' %}
        {% endif %}
        {% if sysinfo.hostname  == 'gplusdon.azurewebsites.net' %}
        {% include 'jslib_gs2meta.html' %}
        {% endif %}
        {% if sysinfo.hostname  == 'gpdontest.azurewebsites.net' %}
        {% include 'jslib_gs3meta.html' %}
        {% endif %}
    
        <title>G+Don {% block eachtitle %}{% endblock %}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{{trans.appDescription}}">
        <meta name="apple-mobile-web-app-title" content="G+Don">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-tilecolor" content="#FFFFFF">
        <meta name="msapplication-tileimage" content="/static/images/app_icon.png">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta name="hostname" content="{{sysinfo.hostname}}">
    
        <meta property="og:title" content="{{sysinfo.oginfo.title}}" />
        <meta property="og:type" content="{{sysinfo.oginfo.type}}" />
        <meta property="og:description" content="{{sysinfo.oginfo.description}}" />
        <meta property="og:url" content="{{sysinfo.oginfo.url}}" />
        <meta property="og:image" content="{{sysinfo.oginfo.image}}"/>
        <meta property="og:site_name" content="{{sysinfo.oginfo.site_name}}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="{{sysinfo.oginfo.url}}" />
        <meta name="twitter:title" content="{{sysinfo.oginfo.title}}" />
        <meta name="twitter:description" content="{{sysinfo.oginfo.description}}" />
        <meta name="twitter:image" content="{{sysinfo.oginfo.image}}" />

        <link rel="shortcut icon" href="/static/images/app_icon.png" active.sync="">
        <link rel="manifest" href="/static/res/manifest.json" >
        <meta content='{{sysinfo.VAPID}}' name='applicationServerKey'>

        <!--<link href="/static/lib/selectize/selectize.bootstrap3.css" rel="stylesheet" >
        <link href="/static/lib/selectize/selectize.css" rel="stylesheet" >
        -->
        <link rel="stylesheet" media="all" href="https://wee.jp/css/0.css">
        <link rel="stylesheet" href="/static/lib/materialize/css/materialize-user2.css" async>
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet" async>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" async>
        <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

        <link href="/static/lib/alertify/css/themes/bootstrap.css" rel="stylesheet" >
        <link href="/static/lib/alertify/css/alertify.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
            integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
            crossorigin="" aysnc
        />

        <link href="/static/css/accounts.css" rel="stylesheet" >
        <link href="/static/css/index.css" rel="stylesheet" >
        <link href="/static/css/toot-timeline.css" rel="stylesheet" >

    </HEAD>
    <body>
        {% if sysinfo.hostname  == 'gplusdon.net' %}
        {% include 'jslib_ggltag.html' %}
        {% endif %}
        <div id="toppanel" class="{{sysinfo.color.bg_second}}">
            <div class="navbar-fixed">
                <nav id="navibar" class="{{sysinfo.color.bg_first}}">
                    <div class="nav-wrapper">

                        <div class="row">
                            <div id="frm_navleft" class="navcol-left col s2 m3 l2">
                                <a id="sidenav_btn" href="#" class="sidenav-trigger show-on-medium-and-down"><i class="material-icons" v-bind:class="css.bgred">menu</i></a>
                                    
                                
                                <img id="img_brand" class="brand-image hidden-sm-and-down" src="/static/images/app_icon.png" width="48" height="48">
                                <span class="brand-title black-text hidden-sm-and-down">{{sysinfo.fullname}}</span>
                            </div>
                            <div class="col s4 m5 l3" >
                                <template v-if="!is_tllist">
                                    <v-tooltip right>
                                        <span id="general_title" slot="activator"  class="black-text general-title truncate" v-html="ch2seh(genttl.text)"></span>
                                        <span>{? genttl.tooltip?}</span>
                                    </v-tooltip>
                                </template>
                                <template v-else>
                                    <v-select
                                        :items="list_items"
                                        item-text="text" item-value="value"
                                        v-model="sel_listitem"
                                        :label="translations.list"
                                        hide-details return-masked-value
                                        class="pa-3"
                                    ></v-select>
                                </template>
                            </div>
                            <div id="frm_search"  class="col l4 hide-on-med-and-down" v-cloak>
                                <form class=""  v-on:submit.prevent="onsubmit_search">
                                    <!--<div id="box_search" class="input-field col s12" style="padding:2px 0 2px 0;">
                                        <input id="inp_search" type="search" v-bind:value="findtext" class="navsearch grey lighten-3 black-text" style="margin:5px;border-radius:10px;" placeholder="search any">
                                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                                        <i class="material-icons black-text" v-on:click="onclick_searchClear">close</i>
                                    </div>-->
                                    <v-text-field v-model="findtext" v-show="applogined"
                                        flat clearable
                                        hide-details
                                        prepend-icon="search"
                                        label="Search"
                                        class="hidden-sm-and-down"
                                    ></v-text-field>
                                </form>
                            </div>
                            <div id="nav_btnbar" class="navcol-right col s6 m4 l3" v-cloak>
                                <ul id="box_navright_btns" class="right" v-show="applogined">
                                    <li><div id="apploading" class="preloader-wrapper common_ui_hidden">
                                            <div class="spinner-layer spinner-red-only">
                                                <div class="circle-clipper left">
                                                <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#" id="navbtn_search" class="hidden-md-and-up" v-on:click.stop="onclick_search"><i class="material-icons black-text">search</i></a></li>
                                    <li class="nav_notif_iconarea">
                                        <!--<v-badge v-cloak overlap bottom color="red" v-model="show_notif_badge">
                                            <span slot="badge">{? notif_badge_count ?}</span> 
                                            <a id="navbtn_notification" v-on:click.stop="onclick_notification"><i class="material-icons black-text" id="navbtn_icon_notification">notifications_none</i></a>
                                        </v-badge>-->
                                        <v-btn :flat="ntf_stat.flat" :icon="ntf_stat.icon"
                                            :fab="ntf_stat.fab" :dark="ntf_stat.dark" small
                                            :color="ntf_stat.color"
                                            v-on:click.stop="onclick_notification"
                                        >
                                            <template v-if="ntf_stat.icon">
                                                <v-icon>notifications_none</v-icon>
                                            </template>
                                            <template v-else>
                                                <span>{? notif_badge_count ?}</span>
                                            </template>
                                        </v-btn>
                                        
                                    </li>
                                    <li><a id="navbtn_refresh" class="hidden-sm-and-down" v-on:click.stop="onclick_refresh"><i class="material-icons black-text">refresh</i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </nav>
            </div>
            

            

            <div id="mainpanel">
                <div class="row inherited_body_range">
                    <div id="maincol_leftmenu" class="col hide-on-med-and-down" v-bind:class="css.colwidth" v-cloak>
                        <div id="cur_sel_account" v-if="'rawdata' in account">
                            <!--<ul class="collection cursel-accountbox z-depth-1">
                                <li class="collection-item avatar">
                                    <a  v-on:click="onclick_current_selaccount">
                                        <v-img id="cursel_avatar" v-bind:src="account.rawdata.avatar" class="userrectangle tooltipped" v-bind:data-tooltip="acct"></v-img>
                                        <span id="cursel_display_name" class="title truncate" v-html="fullname(account)"></span>
                                    </a>
                                    <i class="material-icons whole-notification red-text" v-if="whole_notification" v-cloak>notifications</i>
                                </li>
                            </ul>-->
                            <v-card >
                                <v-card-text class="pa-1" v-bind:class="css.bgred">
                                    <v-list >
                                        <v-list-tile avatar  v-on:click="onclick_current_selaccount">
                                            <v-list-tile-avatar>
                                                <v-img id="cursel_avatar" v-bind:src="account.rawdata.avatar" class="userrectangle tooltipped" v-bind:data-tooltip="acct"></v-img>
                                            </v-list-tile-avatar>
                                            <v-list-tile-content>
                                                <span id="cursel_display_name" class="title truncate" v-html="ch2seh(fullname(account))"></span>
                                                <!--<v-icon color="red" v-if="whole_notification" v-cloak>notifications</v-icon>-->
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </v-list>
                                </v-card-text>
                            </v-card>
                        </div>
                        <div id="leftmenu_main" class="collection">
                            {% include "appbase_menu.html" %}
                        </div>
                        
                    </div>
                    <div  id="maincol_rightmain" class="inherited_body_range col s12 m12 l9">
{% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div id="post_btn_area" class="fixed-action-btn">
                <a id="btn_post_toote" class="btn-floating btn-large waves-effect waves-light red common_ui_off"><i class="material-icons">create</i></a>
            </div>
            <div id="bottomnav" class="common_ui_off">
                <v-bottom-nav
                    :active.sync="activeBtn"
                    :value="showNav"
                    absolute
                    color="{{sysinfo.color.bg_first}}"
                    style="z-index:200;"
                >
                    <v-btn flat color="red" v-on:click="onclick_accounts">
                        <span>{{trans.accounts}}</span>
                        <v-icon>account_circle</v-icon>
                    </v-btn>

                    <v-btn flat color="red" v-on:click="onclick_btn(0)">
                        <span>{{trans.timeline}}</span>
                        <v-icon>view_day</v-icon>
                    </v-btn>
                    <v-btn flat color="red" v-on:click="onclick_btn(1)">
                        <span>{{trans.connections}}</span>
                        <v-icon>people</v-icon>
                    </v-btn>
                    <v-btn flat color="red" v-on:click="onclick_btn(2)">
                        <span>{{trans.notifications}}</span>
                        <v-icon>notifications</v-icon>
                    </v-btn>
                            
                </v-bottom-nav>
            </div>
        </div>
        <ul id="slide-out" class="sidenav">
            <template v-if="applogined">
                <li>
                    <div id="side_userview" class="user-view">
                        <div class="background">
                            <v-img v-bind:src="account.rawdata.header" v-bind:alt="account.idname" style="width:100%;"></v-img>
                        </div>
                        <a v-on:click="onclick_current_selaccount"><img class="userrectangle" v-bind:src="account.rawdata.avatar"></a>
                        <a ><span class="white-text name" v-html="ch2seh(account.display_name)"></span></a>
                        <a ><span class="white-text email">{? acct ?}</span></a>
                        <i class="material-icons whole-notification red-text" v-if="whole_notification">notifications</i>
                    </div>
                </li>
            </template>
                <!--<li><a id="sm_dashboard" href="/" class="common_ui_off collection-item maincol_menu {{menustat.dashboard}}"><i class="material-icons">dashboard</i><span>{{trans.dashboard}}</span></a></li>
                <li>
                    <a id="sm_timeline" href="/tl" class="collection-item maincol_menu menu_parent {{menustat.timeline}}"><i class="material-icons">view_day</i><span>{{trans.timeline}}</span></a>
                </li>
                <li><a id="sm_accounts" href="/accounts" class="collection-item maincol_menu {{menustat.accounts}}"><i class="material-icons">person</i><span>{{trans.accounts}}</span></a></li>
                <li><a id="sm_connections" href="/connections" class="collection-item maincol_menu {{menustat.connections}}"><i class="material-icons">people</i><span>{{trans.connections}}</span></a></li>
                <li><a id="sm_directmsg" href="/direct" class="collection-item maincol_menu {{menustat.directmsg}}"><i class="material-icons">email</i><span>{{trans.direct_message}}</span></a></li>
                <li><a id="sm_instances" href="/instances" class="collection-item maincol_menu {{menustat.instances}}"><i class="material-icons">business</i><span>{{trans.instances}}</span></a></li>
                <li><a id="sm_notification" href="/notifications" class="collection-item maincol_menu {{menustat.notifications}}"><i class="material-icons">notifications</i><span>{{trans.notifications}}</span></a></li>
                <li><a id="sm_settings" href="/settings" class="collection-item maincol_menu {{menustat.settings}}"><i class="material-icons">settings</i><span>{{trans.settings}}</span></a></li>
                <li><a id="sm_startpage" href="/" class="collection-item maincol_menu"><i class="material-icons">public</i><span>{{trans.startpage}}</span></a></li>
                -->
                <li>
                        {% include "appbase_menu.html" %}
                </li>
            <!--
            <template v-else>
                <li>
                    <img id="img_brand" class="brand-image" src="/static/images/app_icon.png" width="52" height="52">
                    <h1 class="brand-title black-text">{{sysinfo.fullname}}</h1>
                    <br>
                </li>
                <li><a href="/" class="collection-item maincol_menu {{menustat.start}}"><i class="material-icons">public</i><span>{{trans.start_app}}</span></a></li>
            </template>
            <a id="sm_help" href="https://docs.google.com/document/d/1mJbQYGxaCfe4Ly86_Su1vseZ9yfoT3rm8n4R8mR3oxA/edit?usp=sharing" target="_blank" class="collection-item maincol_menu tooltipped" data-tooltip="{{trans.help}}"><i class="material-icons">help</i><span>{{trans.help}}</span></a><br>
            <a id="sm_version" href="#" v-on:click="onclick_menulink2" class="collection-item maincol_menu"><i class="material-icons">check</i><span>Information</span></a>
            -->
        </ul>
        <div id="ov_toote">
            <v-app>
            <v-dialog v-model="is_overlaying" :hide-overlay="false" class="{{sysinfo.color.bg_first}}" scrollable v-bind:fullscreen="fullscreen" v-bind:width="activewidth">
                <v-card>
                    <v-card-title class="onetoote_cardtitle">
                        <v-btn icon  @click="onclick_close" >
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-btn icon  @click="onclick_scrolltop" >
                            <v-icon>arrow_upward</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text class="onetoote_cardtext overflow-y">
                        <timeline-toot ref="tootview"
                            v-bind:translation="translations"
                            v-bind:toote="status"
                            v-bind:popuping="popuping"
                            v-bind:datastyle="datastyle"
                            v-bind:comment_viewstyle="comment_viewstyle"
                            v-bind:comment_list_area_viewstyle="comment_list_area_viewstyle"
                            v-bind:content_body_style="content_body_style"
                            v-bind:globalinfo="globalInfo"
                            v-on:replied_post="onreplied_children(status,index)"
                            v-on:delete_toot="ondelete_toot_children"        
                        ></timeline-toot>
                    </v-card-text>
                </v-card>
                
            </v-dialog>
        </v-app>
        </div>
        <!--<div id="ov_toote" class="onetoote_screen" v-if="is_overlaying" v-cloak>
            <div class="onetoote_overlay " v-on:click="onclick_overlay">
            </div>
            <div class="onetoote_area sizing" v-on:click="onclick_tootearea">
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:popuping="popuping"
                    v-bind:datastyle="datastyle"
                    v-bind:comment_viewstyle="comment_viewstyle"
                    v-bind:comment_list_area_viewstyle="comment_list_area_viewstyle"
                    v-bind:globalinfo="globalInfo"
                ></timeline-toot>
            </div>
        </div>-->
        <div id="ov_user" class=" userdialog sizing z-depth-2 common_ui_off" >
            <user-popupcard
                cardtype="normal"
                v-bind:translation="translation"
                v-bind:account="selected"
                v-bind:relationship="relationship"
                v-bind:globalinfo="globalInfo"
            ></user-popupcard>
        </div>
        <div id="ov_inputtoot" class="dmy_inputtoot" v-if="accounts.length > 0">
            
                <v-dialog v-model="dialog" class="{{sysinfo.color.bg_first}}" :persistent="persistent" v-bind:fullscreen="fullscreen" v-bind:width="activewidth">
            <!--% include  "onetoote.html"  %}-->
                    <v-card>
                    <toot-inputbox  ref="inputbox"
                        :id="eid"
                        :visibility="tootIB.visibility"
                        :translation="translation"
                        :globalinfo="globalinfo"
                        :first_sharescope="tootIB.first_scope"
                        :popuping="tootIB.popuping"
                        :toolbtn="tootIB.btns"
                        :accounts="accounts"
                        :firsttext="tootIB.text"
                        :initialaccounts="selaccounts"
                        :tags="tags"
                        v-on:close="onclick_close"
                        v-on:send="onclick_send"
                        v-on:change="onchange_box"
                        ></toot-inputbox>
                    </v-card>
                </v-dialog>
            
        </div>
        {% include  "onedialog.html"  %}
        {% include  "onedialog2.html"  %}

        <div id="temporary_area"></div>

        <!-- Current language: {{ lang }} -->
    
        <input type="hidden" id="hid_staticpath" value="/static/">
        <input type="hidden" id="hid_currentlocale" value="{{transjs}}">
        <input type="hidden" id="_csrf" value="{{csrfToken}}">
        {% set items = [sysinfo.name, sysinfo.fullname, sysinfo.author, sysinfo.version, sysinfo.gdaky, sysinfo.gdid, sysinfo.yh_id, sysinfo.mab_id, sysinfo.gdaky_pic ] %}
        <input type="hidden" id="hid_appinfo" value="{{items | join(',') }}">
        <form id="hid_send" class="common_ui_off" name="hid_send" method="post" action="" target="nodisp">
            <input id="hid_send_mode" name="mode" value="">
            <input id="hid_send_data" name="data" value="">
            <input type="submit" value="送信" />
        </form>
        <iframe name="nodisp"  id="dummyfrm" class="common_ui_off"></iframe>

        <script src="/static/lib/polyfill.min.js"></script>

        <script src="/static/lib/purify.min.js"></script>
        <script src="/static/lib/cookies.js"></script>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/lodash.min.js"></script>
        {% include "jslib_vue.html" %}
        <script src="/static/lib/vue-carousel.min.js"></script>
        
        <script src="/static/lib/materialize/js/materialize.min.js"></script>
        <script src="/static/lib/alertify/alertify.min.js"></script>


        <script src="/static/lib/mastodon-text.js"></script>
        <script src="/static/lib/mastodon.js"></script>
        
        <script src="/static/lib/jtimeago/jquery.timeago.js"></script>
        <script src="/static/lib/jtimeago/locales/jquery.timeago.{{ lang }}.js"></script>
        <script src="/static/lib/paste.js"></script>
        <script src="/static/lib/push.min.js"></script>

        <script src="/static/lib/cke/ckeditor.js"></script>

        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""
        ></script>

    <!-- user include -->
    <script src="/static/res/res_template_tootbody.js"></script>
    <script src="/static/res/res_template_userpop.js"></script>
    <script src="/static/res/res_template_replyinput.js"></script>
    <script src="/static/res/res_template_tootgallery-cal.js"></script>
    <script src="/static/res/res_template_db_gadget.js"></script>
    <script src="/static/res/res_template_inputbox.js"></script>

    <script src="/static/js/cls_ck_inputbox.js"></script>
    
    <script src="/static/js/util.js"></script>
    <script src="/static/js/mixins_vue.js"></script>
    <script src="/static/js/cls_vue.js"></script>
    <script src="/static/js/cls_vue2.js"></script>
    <script src="/static/js/cls_accounts.js"></script>
    <script src="/static/js/cls_sns.js"></script>
    <script src="/static/js/cls_session.js"></script>
    <script src="/static/js/cls_stream.js"></script>
    <script src="/static/js/clientclass.js"></script>
    <script src="/static/js/cls_main_add1.js"></script>
    <script src="/static/js/cls_main_add2.js"></script>
    
    
    <script src="/pwabuilder-sw-register.js"></script>
    
{% block userinclude %}{% endblock %}

<script src="/static/js/cls_gdrive.js"></script>

<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};gpGLD.handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    </body>
</html>