

<!DOCTYPE html>
<html lang="{{lang}}">
    <HEAD>
        {% if request.host  == 'gplusdon.net' %}
        {% include 'jslib_gglanal.html' %}
        {% endif %}
        
        <title>G+Don - {{trans.dashboard}}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{{trans.appDescription}}">
        <meta name="apple-mobile-web-app-title" content="G+Don">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-tilecolor" content="#FFFFFF">
        <meta name="msapplication-tileimage" content="/static/images/app_icon.png">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta property="og:title" content="G+Don" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="複数アカウント対応、テキスト＆メディアが見やすく楽しいマストドンの新感覚ウェブクライアントです。" />
        <meta property="og:url" content="https://gplusdon.net" />
        <meta property="og:image" content="https://gplusdon.net/static/images/gp_og_image.png"/>
        <meta property="og:site_name" content="G+Don" />

        <link rel="shortcut icon" href="/static/images/app_icon.png" >
        <link rel="manifest" href="/static/res/manifest.json" >
        <meta content='{{sysinfo.VAPID}}' name='applicationServerKey'>

        <!--<link href="/static/lib/selectize/selectize.bootstrap3.css" rel="stylesheet" >
        <link href="/static/lib/selectize/selectize.css" rel="stylesheet" >
        -->
        
        <link rel="stylesheet" href="/static/lib/materialize/css/materialize-user.css" >
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

        <link href="/static/css/vuetify.min.css" rel="stylesheet">

        <link href="/static/lib/alertify/css/themes/bootstrap.css" rel="stylesheet" >
        <link href="/static/lib/alertify/css/alertify.css" rel="stylesheet" >
        <link rel="stylesheet" href="/static/lib/leaflet/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
            integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
            crossorigin=""
        />


        <link href="/static/css/accounts.css" rel="stylesheet" >
        <link href="/static/css/index.css" rel="stylesheet" >
        <link href="/static/css/toot-timeline.css" rel="stylesheet" >
        <link href="/static/css/dashboard.css" rel="stylesheet" >

    </HEAD>
    <body>
        <div id="toppanel" class="grey lighten-3">
            <div class="navbar-fixed">
                <nav id="navibar" class="white">
                    <div class="nav-wrapper">

                        <div class="row">
                            <div class="navcol-left col s2 m3 l2">
                                <a id="sidenav_btn" href="#" class="sidenav-trigger show-on-medium-and-down"><i class="material-icons black-text">menu</i></a>
                                <img id="img_brand" class="brand-image hidden-sm-and-down" src="/static/images/app_icon.png" width="48" height="48">
                                <span class="brand-title black-text hidden-sm-and-down">G+Don</span>
                            </div>
                            <div class="col s4 m6 l3">
                                <span id="general_title" class="black-text general-title truncate tooltipped" data-tooltip=""></span>
                            </div>
                            <div id="frm_search"  class="col l4 hide-on-med-and-down">
                                <form class=""  v-on:submit.prevent="onsubmit_search">
                                    <div id="box_search" class="input-field col s12" style="padding:2px 0 2px 0;">
                                        <input id="inp_search" type="search" v-bind:value="findtext" class="navsearch grey lighten-3 black-text" style="margin:5px;border-radius:10px;" placeholder="search any">
                                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                                        <i class="material-icons black-text" v-on:click="onclick_searchClear">close</i>
                                    </div>
                                </form>
                            </div>
                            <div id="nav_btnbar" class="navcol-right col s6 m3 l3">
                                <ul id="box_navright_btns" class="right">
                                    <li><div id="apploading" class="preloader-wrapper common_ui_hidden">
                                            <div class="spinner-layer spinner-red-only">
                                                <div class="circle-clipper left">
                                                <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#" id="navbtn_search" class="hidden-md-and-up" v-on:click.stop="onclick_search"><i class="material-icons black-text">search</i></a></li>
                                    <li>
                                        <v-badge v-cloak overlap bottom color="red" v-model="show_notif_badge">
                                            <span slot="badge">{? notif_badge_count ?}</span> 
                                            <a id="navbtn_notification" v-on:click.stop="onclick_notification"><i class="material-icons black-text" id="navbtn_icon_notification">notifications_none</i></a>
                                        </v-badge>
                                        
                                    </li>
                                    <li><a id="navbtn_refresh" class="hidden-sm-and-down" v-on:click.stop="onclick_refresh"><i class="material-icons black-text">refresh</i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </nav>
            </div>

            <div id="mainpanel">
                <div class="row inherited_body_range">
                    <div id="maincol_leftmenu" class="common_ui_off"></div>
                    <div  id="maincol_rightmain" class="inherited_body_range xs12">
                        <div id="area_dashboard">
                            <grid-layout :layout="gadgets"
                                :col-num="12"
                                :row-height="30"
                                :is-draggable="grid_config.draggable"
                                :is-resizable="grid_config.resizable"
                                :vertical-compact="false"
                                :use-css-transforms="true"
                                :responsive="grid_config.responsive"
                            >
                                <grid-item v-for="(item,index) in gadgets"
                                    :x="item.x"
                                    :y="item.y"
                                    :w="item.w"
                                    :h="item.h"
                                    :i="item.i"
                                    :is-draggable="item.draggable"
                                    :is-resizable="item.resizable"    
                                    :drag-allow-from="item.drag.allow"
                                    :drag-ignore-from="item.drag.ignore"
                                >
                                    <div class="text">
                                        <div class="vue-draggable-handle"></div>
                                        <div class="no-drag">
                                            <dashboard-gadget :translation="translations"
                                                :globalinfo="globalInfo"
                                                :type="item.type" :size="item.size" :userstyle="item.userstyle"
                                                :body="item.body"
                                                :src="item.src"
                                                :label="item.label" :icon="item.icon"
                                                :timeline="item.timeline"
                                                :toot="item.toot"
                                                :user="item.user"
                                                :datalist="item.list"
                                                :input="item.input"
                                                
                                            ></dashboard-gadget>
                                        </div>
                                    </div>
                                </grid-item>
                            </grid-layout>
                        </div>
                        <div id="dab_inputbox">
                            <v-dialog
                                v-model="is_dialog"
                                fullscreen hide-overlay
                                transition="dialog-transition"
                            >
                                <v-card>
                                    <v-toolbar dark color="primary">
                                        <v-btn icon dark @click="is_dialog = false">
                                            <v-icon>close</v-icon>
                                        </v-btn>
                                        <v-toolbar-title>Settings</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-toolbar-items>
                                            <v-btn dark flat @click="is_dialog = false">Save</v-btn>
                                        </v-toolbar-items>
                                    </v-toolbar>
                                    <v-card-text>
                                        <v-select
                                            :items="cons_boxtype"
                                            v-model="is_boxtype"
                                            label="Gadget type"
                                        ></v-select>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="slide-out" class="common_ui_off sidenav"></ul>

            <div id="post_btn_area" class="fixed-action-btn">
                <a id="btn_post_toote" class="btn-floating btn-large waves-effect waves-light red common_ui_off"><i class="material-icons">create</i></a>
            </div>
            <div id="bottomnav" class="common_ui_off">
                <v-bottom-nav
                    :active.sync="activeBtn"
                    :value="showNav"
                    absolute
                    color="white"
                    style="z-index:200;"
                >
                    <v-btn flat color="red" v-on:click="onclick_accounts">
                        <span>{{trans.accounts}}</span>
                        <v-icon>account_circle</v-icon>
                    </v-btn>

                    <v-btn flat color="red" v-on:click="onclick_btn(0)">
                        <span>{{trans.timeline}}</span>
                        <v-icon>view_day</v-icon>
                    </v-btn>
                    <v-btn flat color="red" v-on:click="onclick_btn(1)">
                        <span>{{trans.connections}}</span>
                        <v-icon>people</v-icon>
                    </v-btn>
                    <v-btn flat color="red" v-on:click="onclick_btn(2)">
                        <span>{{trans.notifications}}</span>
                        <v-icon>notifications</v-icon>
                    </v-btn>
                            
                </v-bottom-nav>
            </div>
        </div>
        
        <div id="ov_toote">
            <v-app>
            <v-dialog v-model="is_overlaying" class="white" scrollable v-bind:fullscreen="fullscreen" v-bind:width="activewidth">
                <v-card>
                    <v-card-title class="onetoote_cardtitle">
                        <v-btn icon  @click="onclick_close" >
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-btn icon  @click="onclick_scrolltop" >
                            <v-icon>arrow_upward</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text class="onetoote_cardtext overflow-y">
                        <timeline-toot 
                            v-bind:translation="translations"
                            v-bind:toote="status"
                            v-bind:popuping="popuping"
                            v-bind:datastyle="datastyle"
                            v-bind:comment_viewstyle="comment_viewstyle"
                            v-bind:comment_list_area_viewstyle="comment_list_area_viewstyle"
                            v-bind:content_body_style="content_body_style"
                            v-bind:globalinfo="globalInfo"
                        ></timeline-toot>
                    </v-card-text>
                </v-card>
                
            </v-dialog>
        </v-app>
        </div>
        <!--<div id="ov_toote" class="onetoote_screen" v-if="is_overlaying" v-cloak>
            <div class="onetoote_overlay " v-on:click="onclick_overlay">
            </div>
            <div class="onetoote_area sizing" v-on:click="onclick_tootearea">
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:popuping="popuping"
                    v-bind:datastyle="datastyle"
                    v-bind:comment_viewstyle="comment_viewstyle"
                    v-bind:comment_list_area_viewstyle="comment_list_area_viewstyle"
                    v-bind:globalinfo="globalInfo"
                ></timeline-toot>
            </div>
        </div>-->
        <div id="ov_user" class=" userdialog sizing z-depth-2 common_ui_off" >
            <user-popupcard
                cardtype="normal"
                v-bind:translation="translation"
                v-bind:account="selected"
                v-bind:relationship="relationship"
                v-bind:globalinfo="globalInfo"
            ></user-popupcard>
        </div>
        <div id="ov_inputtoot" class="dmy_inputtoot">
            
                <v-dialog v-model="dialog" class="white" persistent v-bind:fullscreen="fullscreen" v-bind:width="activewidth">
            {% include  "onetoote.html"  %}
                </v-dialog>
            
        </div>
        {% include  "onedialog.html"  %}
        
        <div id="temporary_area"></div>

        <!-- Current language: {{ lang }} -->
    
        <input type="hidden" id="hid_staticpath" value="/static/">
        <input type="hidden" id="hid_currentlocale" value="{{transjs}}">
        <input type="hidden" id="_csrf" value="{{csrfToken}}">
        {% set items = [sysinfo.name, sysinfo.fullname, sysinfo.author, sysinfo.version, sysinfo.gdaky, sysinfo.gdid ] %}
        <input type="hidden" id="hid_appinfo" value="{{items | join(',') }}">
        <form id="hid_send" class="common_ui_off" name="hid_send" method="post" action="" target="nodisp">
            <input id="hid_send_mode" name="mode" value="">
            <input id="hid_send_data" name="data" value="">
            <input type="submit" value="送信" />
        </form>
        <iframe name="nodisp"  id="dummyfrm" class="common_ui_off"></iframe>


        
        <script src="/static/lib/polyfill.min.js"></script>
        <script src="/static/lib/cookies.js"></script>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/lodash.min.js"></script>
        {% include "jslib_vue.html" %}
        <script src="/static/lib/vue-carousel.min.js"></script>
        <!--<script src="/static/lib/vue-metal-grid/index.js" type='module'></script>
        <script src="/static/lib/element-resize-detector.min.js"></script>-->
        <script src="/static/lib/vue-grid-layout.umd.min.js"></script>
        
        <script src="/static/lib/materialize/js/materialize.js"></script>
        <script src="/static/lib/alertify/alertify.min.js"></script>


        <script src="/static/lib/mastodon-text.js"></script>
        <script src="/static/lib/mastodon.js"></script>

        <script src="/static/lib/jtimeago/jquery.timeago.js"></script>
        <script src="/static/lib/jtimeago/locales/jquery.timeago.{{ lang }}.js"></script>
        <script src="/static/lib/paste.js"></script>
        <script src="/static/lib/push.min.js"></script>

        <script src="/static/lib/cke/ckeditor.js"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""
        ></script>


    <!-- user include -->
    <script src="/static/res/res_template_tootbody.js"></script>
    <script src="/static/res/res_template_userpop.js"></script>
    <script src="/static/res/res_template_replyinput.js"></script>
    <script src="/static/res/res_template_tootgallery-cal.js"></script>
    <script src="/static/res/res_template_inputbox.js"></script>
    <script src="/static/res/res_template_db_gadget.js"></script>


    <script src="/static/js/cls_ck_inputbox.js"></script>
    
    <script src="/static/js/util.js"></script>
    <script src="/static/js/mixins_vue.js"></script>
    <script src="/static/js/cls_vue.js"></script>
    <script src="/static/js/cls_vue2.js"></script>
    <script src="/static/js/cls_accounts.js"></script>
    <script src="/static/js/cls_sns.js"></script>
    <script src="/static/js/cls_session.js"></script>
    <script src="/static/js/cls_stream.js"></script>
    <script src="/static/js/clientclass.js"></script>
    <script src="/static/js/cls_main_add1.js"></script>
    <script src="/static/js/cls_main_add2.js"></script>
    
    
    <script src="/pwabuilder-sw-register.js"></script>
    
    <script src="/static/js/appdashboard.js"></script>

<script src="/static/js/cls_gdrive.js"></script>

<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};gpGLD.handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    </body>
</html>