
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    {% if request.host  == 'gplusdon.net' %}
    {% include 'jslib_gglanal.html' %}
    {% endif %}
    <title>G+Don</title>
    <meta name="google-site-verification" content="5N-ghjLpmgwE0bs6B4Pp379BucvWGKt0y_nM9S7SKRM" />
    <meta name="google-site-verification" content="btzXVnZEh5XcG32MwgYOIEDumJW2il-JhjzgLvpZgt4" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{trans.appDescription}}">
    <meta name="apple-mobile-web-app-title" content="G+Don">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-tilecolor" content="#FFFFFF">
    <meta name="msapplication-tileimage" content="/static/images/app_icon.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="G+Don" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="複数アカウント対応、テキスト＆メディアが見やすく楽しいマストドンの新感覚ウェブクライアントです。" />
    <meta property="og:url" content="https://gplusdon.net" />
    <meta property="og:image" content="https://gplusdon.net/static/images/gp_og_image.png"/>
    <meta property="og:site_name" content="G+Don" />


    <link rel="shortcut icon" href="/static/images/app_icon.png" />
    <link rel="stylesheet" href="/static/lib/materialize/css/materialize-user2.css" >
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <link href="/static/lib/alertify/css/themes/bootstrap.css" rel="stylesheet" />
    <link href="/static/lib/alertify/css/alertify.css" rel="stylesheet" />

    <link href="/static/css/index.css" rel="stylesheet" />
</head>
<body>

    <div id="initialpanel">
        <div id="initialmainpanel" v-cloak>
            <v-card>
                <div style="height:15rem;">
                    <img src="/static/images/gp_initial_01.jpg"
                        class="initial-img-background"
                    >
                </div>
                <v-card-title primary-title class="title-panel">
                <div>
                    <div class="initial-brand-title mb-0 ">
                        <img id="img_brand" src="/static/images/app_icon.png" width="52" height="52">
                        {{ sysinfo.fullname }}
                    </div>
                    <div>
                        <b>{{ trans.msg_ini_subtitle }}</b><br>
                    </div>
                </div>
                </v-card-title>
          
            </v-card>
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex xs12 subheading>
                        <p>
                            {{ trans.msg_ini_heading1 }} <br>
                            {{ trans.msg_ini_heading2 }}
                        </p>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12 sm10 offset-sm1>
                        <v-layout row wrap>
                            <v-flex xs4>
                                <a href="#isgpuser">
                                    <v-card>
                                        <v-card-text class="blue menu_onepanel">
                                            {{trans.lab_ini_menu_isuser}}
                                        </v-card-text>
                                    </v-card>
                                </a>
                            </v-flex>
                            <v-flex xs4>
                                <a href="#beuser">
                                    <v-card>
                                        <v-card-text class="yellow menu_onepanel">
                                            {{trans.lab_ini_menu_beuser}}
                                        </v-card-text>
                                    </v-card>
                                </a>
                            </v-flex>
                            <v-flex xs4>
                                <a href="#notuser">
                                    <v-card>
                                        <v-card-text class="red menu_onepanel">
                                            {{trans.lab_ini_menu_notuser}}
                                        </v-card-text>
                                    </v-card>
                                </a>
                            </v-flex>
                            <v-flex xs6>
                                <a href="#feature">
                                    <v-card>
                                        <v-card-text class="blue-grey lighten-5 menu_onepanel">
                                            {{trans.lab_ini_menu_feature}}
                                        </v-card-text>
                                    </v-card>
                                </a>
                            </v-flex>
                            <v-flex xs6>
                                <a href="#presentvideo">
                                    <v-card>
                                        <v-card-text class="blue-grey lighten-5 menu_onepanel">
                                            {{trans.lab_ini_menu_presentation}}
                                        </v-card-text>
                                    </v-card>
                                </a>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <br>
                <v-divider></v-divider>
                <v-layout row wrap white elevation-2>
                    <v-flex xs12 sm12 md6>
                        <v-layout row wrap >
                            <v-flex xs12 headline>
                                <span id="isgpuser" class="grey--text text--darken-4 eachtype_usertitle">{{trans.msg_ini_isuser_title}}</span>
                            </v-flex>
                            <v-flex xs12>
                                <a href="/tl">
                                    <v-btn flat icon>
                                        <v-icon>input</v-icon>
                                    </v-btn>
                                    <span class="headline">{{ trans.start_app }}</span>
                                </a>
                                
                            </v-flex>
                            <v-flex xs12>
                                {{trans.msg_ini_from_gdrive}} <v-btn small v-on:click="onclick_authorize_drive_btn">{{trans.app_lab_sync_gdrive_authorize}}</v-btn>
                            </v-flex>
                            <v-flex xs12>
                                <a href="https://docs.google.com/document/d/1mJbQYGxaCfe4Ly86_Su1vseZ9yfoT3rm8n4R8mR3oxA/edit?usp=sharing" target="_blank" style="font-size:2.1rem;">
                                    <v-btn flat icon>
                                        <v-icon>help</v-icon>
                                    </v-btn>
                                    <span class="subheading">Help</span>
                                </a>
                                <a href="/settings" style="font-size:2.1rem;">
                                    <v-btn flat icon>
                                        <v-icon>settings</v-icon>
                                    </v-btn>
                                    <span class="subheading">{{trans.settings}}</span>
                                </a>
                                <p class="ml-2">
                                    (*) {{trans.msg_ini_cookie1}}<br>
                                    (*) {{trans.msg_ini_isuser_note1}}<br>
                                    <br>
                                </p>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 sm12 md6>
                        <v-layout row wrap >
                            <v-flex xs12 headline>
                                <span id="ismstdnuser" class="blue--text text--darken-4 eachtype_usertitle">{{trans.msg_ini_beuser_title}}</span>
                            </v-flex>
                            <v-flex xs12 body-2>
                                　{{trans.msg_ini_beuser_note1}}
                            </v-flex>
                            <v-flex xs12>
                                <v-form v-on:submit.prevent="btn_reg_account_clicked">
                                    <v-layout row wrap>
                                        <v-flex xs9>
                                            <v-text-field
                                                label="{{trans.msg_ini_beuser_note2}}"
                                                v-model="initial_instance"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn flat icon color="red" v-on:click="btn_reg_account_clicked">
                                                <v-icon>send</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs12>
                                            <p class="ml-2">
                                                (*) {{trans.msg_ini_beuser_note3}}<br>
                                                (*) {{trans.msg_ini_beuser_note4}}
                                            </p>
                                        </v-flex>
                                    </v-layout>
                                </v-form>
                
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-layout row wrap>
                            <v-flex xs12 sm12 md6 offset-md3 headline>
                                <span id="notuser" class="red--text eachtype_usertitle">{{trans.msg_ini_notuser_title}}</span>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12 sm12 md4 offset-md4 white elevation-2>
                                <a href="https://joinmastodon.org/" target="_blank" rel="noopener">
                                    <img src="/static/images/Sticker1.png" width="100" height="130">
                                </a>
                                <p class="subheading">
                                    
                                    {{trans.msg_ini_notuser_note1}}
                                    <br>
                                    {{trans.msg_ini_notuser_note2}}
                                    <a href="/instances">G+Don instance page</a>
                                </p>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>

            
            <v-layout row wrap>
                <v-flex xs12 headline>
                    <h5 id="feature">{{trans.lab_ini_menu_feature}}</h5>
                </v-flex>
                <v-flex xs12>
                    <v-layout row wrap>
                        <v-flex xs12 sm6 md4>
                            <v-card>
                                <v-card-title primary-title >
                                    <v-icon color="red">done_outline</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature1_title}}</h5>
                                </v-card-title>
                                <v-img
                                    contain
                                    height="auto"
                                    src="/static/images/start_image01.jpg"
                                >
                                    
                                </v-img>
                                <v-card-text class="initial-presentation-item">
                                    {{trans.msg_ini_feature1_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-card>
                                <v-card-title primary-title>
                                    <v-icon color="red">done_outline</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature2_title}}</h5>
                                </v-card-title>
                                <v-img
                                    contain
                                    height="auto"
                                    src="/static/images/start_image02.jpg"
                                >
                                    
                                </v-img>
                                <v-card-text class="initial-presentation-item">
                                        {{trans.msg_ini_feature2_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-card>
                                <v-card-title primary-title>
                                    <v-icon color="red">done_outline</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature3_title}}</h5>
                                </v-card-title>
                                <v-img
                                    contain
                                    height="auto"
                                    src="/static/images/start_image03.jpg"
                                >
                                    
                                </v-img>
                                <v-card-text class="initial-presentation-item">
                                    {{trans.msg_ini_feature3_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-card>
                                <v-card-title primary-title>
                                    <v-icon color="red">done_outline</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature4_title}}</h5>
                                </v-card-title>
                                <v-img
                                    contain
                                    height="auto"
                                    src="/static/images/start_image04.jpg"
                                >
                                    
                                </v-img>
                                <v-card-text class="initial-presentation-item">
                                    {{trans.msg_ini_feature4_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-card>
                                <v-card-title primary-title>
                                    <v-icon color="red">done_outline</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature5_title}}</h5>
                                </v-card-title>
                                <v-img
                                    contain
                                    height="auto"
                                    src="/static/images/start_image05.jpg"
                                >
                                    
                                </v-img>
                                <v-card-text class="initial-presentation-item">
                                    {{trans.msg_ini_feature5_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                            <v-card>
                                <v-card-title primary-title>
                                    <v-icon color="red">block</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature6_title}}</h5>
                                </v-card-title>
                                <v-img
                                    contain
                                    height="auto"
                                    src="/static/images/start_image06.jpg"
                                >
                                    
                                </v-img>
                                <v-card-text class="initial-presentation-item">
                                    {{trans.msg_ini_feature6_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12>
                            <v-card>
                                <v-card-title primary-title>
                                    <v-icon color="red">done_all</v-icon>
                                    <h5 class="subheading">{{trans.msg_ini_feature7_title}}</h5>
                                </v-card-title>
                                <v-card-text class="initial-presentation-item">
                                    {{trans.msg_ini_feature7_body}}
                                </v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 headline>
                    <h5 id="presentvideo">{{trans.lab_ini_menu_presentation}}</h5>
                </v-flex>
                <v-flex xs12>
                    <v-layout row wrap class="common_ui_off">
                        <v-flex xs12 sm12 md5 offset-md1>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/4Aeq_2PG2Ms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            
                        </v-flex>
                        <v-flex xs12 sm12 md6>
                            <v-list>
                                <v-list-tile>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            <a href="https://youtu.be/o7vYImhH-Fs" target="_blank">G+Don ログインデモンストレーション2</a>
                                        </v-list-tile-title>
                                        <v-list-tile-sub-title>G+Donは使ったことがなく、マストドンアカウントをお持ちの方向けの動画です。</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            <a href="https://youtu.be/4_AwjSAAhC0" target="_blank">G+Don ログインデモンストレーション3</a>
                                        </v-list-tile-title>
                                        <v-list-tile-sub-title>G+Donで利用しているマストドンアカウントをGoogleドライブに保存する機能の紹介動画です。</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            <a href="https://youtu.be/CN8YvlrWx1s" target="_blank">G+Don ログインデモンストレーション4</a>
                                        </v-list-tile-title>
                                        <v-list-tile-sub-title>G+Donを別の端末でも利用したい方向けの動画です。Googleドライブから復元する手順を紹介しています。</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </div>
        <v-footer height="" fixed>
            <div>
                <a href="/terms" target="_blank">Privacy Policy and Terms</a>
            </div>
            <div>
                <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
                <span style="margin:15px 15px 15px 15px"><a href="https://developer.yahoo.co.jp/about">Web Services by Yahoo! JAPAN</a></span>
                <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->

            </div>
            <v-spacer></v-spacer>
            <div>
                {{trans.lab_ini_environment}} <b>PC:</b>Chrome, Opera, Vivaldi, Firefox, <b>Android:</b>Chrome, Opera,  <b>iOS,Mac:</b> Chrome, Safari,
            </div>
            <v-spacer></v-spacer>
            <div>
                <span>2018-2019 Copyright <span id="about_author">{{ sysinfo.author }}</span>. </span>
            </div>
            <div>
                <a href="#img_brand">
                    <v-btn flat icon color="primary">
                        <v-icon>expand_less</v-icon>
                    </v-btn>
                </a>
            </div>
        </v-footer>
        
    </div>

    <input type="hidden" id="hid_staticpath" value="/static/">
    <input type="hidden" id="hid_currentlocale" value="{{transjs}}">
    <input type="hidden" id="_csrf" value="{{csrfToken}}">
    {% set items = [sysinfo.name, sysinfo.fullname, sysinfo.author, sysinfo.version, sysinfo.gdaky, sysinfo.gdid ] %}
    <input type="hidden" id="hid_appinfo" value="{{items | join(',') }}">

    <script src="/static/lib/polyfill.min.js"></script>

    <script src="/static/lib/cookies.js"></script>
    <script src="/static/lib/jquery.min.js"></script>
    <!--<script src="/static/lib/materialize/js/materialize.min.js"></script>-->
    <script src="/static/lib/lodash.min.js"></script>
    
{% include "jslib_vue.html" %}
    <script src="/static/lib/alertify/alertify.min.js"></script>

    <script src="/static/lib/mastodon.js"></script>


    <!-- user include -->

    <script src="/static/js/util.js"></script>
    <script src="/static/js/cls_accounts.js"></script>
    <script src="/static/js/cls_sns.js"></script>
    <script src="/static/js/cls_session.js"></script>
    <script src="/static/js/clientclass.js"></script>
    <script src="/static/js/initial.js"></script>
    <script src="/static/js/cls_main_add1.js"></script>
    <script src="/static/js/cls_main_add2.js"></script>

    <script src="/static/js/cls_gdrive.js"></script>

    <script async defer src="https://apis.google.com/js/api.js"
          onload="this.onload=function(){};gpGLD.handleClientLoad()"
          onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
    
    </body>
</html>