{% extends "appbase.html" %}

{% block eachtitle %}
 - Notifications
{% endblock %}
{% block content %}
<div id="area_notifications" class="notifcation_body">
    <div id="notifcationview" class="notification-view" v-cloak>
        <v-tabs
            v-model="tabvalue"
            show-arrows
            icon-and-text
            class="notification-view"
            v-on:change="oninput_tabs"
        >
            <v-tabs-slider color="red"></v-tabs-slider>
            <v-tab v-for="(account,index) in accounts" v-bind:key="index" v-bind:href="`#tab_${index}`">
                <img v-bind:src="account.account.rawdata.avatar" class="userrectangle" width="32" height="32">
                <span v-html="ch2seh(full_display_name(account.account))"></span>
            </v-tab>
            <v-tabs-items class="notification-tabitems">
                <v-tab-item 
                    class="notification-tabbody" 
                    v-for="(account,index) in accounts" v-bind:key="index" 
                    v-bind:id="`tab_${index}`"
                    v-on:scroll="onscroll_tabitem"
                >
                    <v-list two-line>
                        <template v-for="(item,index2) in account.notifications">
                            <v-list-tile avatar v-bind:key="item.id" 
                                v-on:click="onclick_notif_line(account,index2)"
                                v-bind:class="cssstyle_unreadNotification(account.account,item)"
                            >
                                <v-list-tile-avatar>
                                    <v-icon class="tooltipped" v-bind:class="judge_colorFromType(item.type)" v-bind:title="get_translated_typename(item.type)">{? get_type_icon(item.type) ?}</v-icon>
                                </v-list-tile-avatar>
                                
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <!--<span style="display:inline-block;" v-bind:class="judge_colorFromType(item.type)">
                                            <v-icon class="white-text">{? get_type_icon(item.type) ?}</v-icon>
                                            <span >{? get_translated_typename(item.type) ?}</span>
                                        </span>-->
                                        <v-layout row wrap justify-start>
                                            <v-flex xs1>
                                                <img v-bind:src="item.account[0].avatar" class="userrectangle basic40">        
                                            </v-flex>
                                            <v-flex xs5>
                                                <b v-html="ch2seh(get_display_name_html(item.account))"></b>
                                            </v-flex>
                                            <v-flex xs6 v-if="item.account.length > 1">
                                                <v-layout row>
                                                    <v-flex xs1 v-for="n in 7" v-bind:key="n" v-if="n < item.account.length">
                                                        <img v-bind:src="item.account[n].avatar" class="userrectangle basic40">
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-list-tile-title>
                                    <v-list-tile-sub-title>{? generate_oneline_content(item) ?}</v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <span>{? item.created_at.toLocaleString() ?}</span>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-divider></v-divider>
                        </template>
                        <v-list-tile>
                            
                                <v-layout align-center justify-center row>
                                    <v-flex xs1>
                                        <v-btn flat icon v-on:click="onclick_past(index)">
                                            <v-icon>refresh</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            
                        </v-list-tile>
                    </v-list>
                </v-tab-item>
            </v-tabs-items>
        </v-tabs>
        
    </div>
</div>

<input type="hidden" id="hid_id" value="" />
{% endblock %}


{% block userinclude %}
<script src="/static/js/appnotifications.js"></script>
{% endblock %}