{% extends "appbase.html" %}

{% block eachtitle %}
 - {{trans.settings}}
{% endblock %}
{% block content %}
<div id="area_settings" class="setting_body">
    <div id="settingview" class="setting-view" v-cloak>
        <v-expansion-panel>
            <v-expansion-panel-content class="{{sysinfo.color.bg_first}}">
                <div slot="header">{{trans.cfg_panel_application}}</div>
                <v-card color="{{sysinfo.color.bg_first}}">
                    <v-card-text>
                        <v-layout row wrap align-center>
                            <v-flex xs12 sm12 md4>
                                <v-radio-group 
                                    label="{{trans.app_lab_showmode}}"
                                    v-model="type_app.showMode" 
                                    column
                                >
                                    <v-radio label="Mastodon" value="mastodon"></v-radio>
                                    <v-radio label="Twitter" value="twitter"></v-radio>
                                    <v-radio label="Google+" value="gplus"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex xs12 sm12 md4>
                                <v-radio-group 
                                    label="{{trans.app_lab_gallerymode}}"
                                    v-model="type_app.gallery_type" 
                                    column
                                >
                                    <v-radio label="{{trans.app_item_gallery_slide}}" value="slide"></v-radio>
                                    <v-radio label="{{trans.app_item_gallery_grid}}" value="grid"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex xs12 sm12 md4>
                                <v-radio-group 
                                    label="{{trans.app_lab_mapmode}}"
                                    v-model="type_app.map_type" 
                                    column
                                >
                                    <v-radio label="Yahoo" value="yahoo"></v-radio>
                                    <v-radio label="OpenStreetMap" value="mapbox"></v-radio>
                                    <v-radio label="Google" value="google"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex xs12 sm12 md4 lg4>
                                <!--<v-select
                                    :items="vals_timeline_view"
                                    v-model="type_app.timeline_view"
                                    label="{{trans.app_lab_timelineview}}"
                                ></v-select>-->
                                <div class="input-field xs6">
                                    <select id="sel_timeline_view" v-model="type_app.timeline_view">
                                        <template v-for="item in vals_timeline_view">
                                            <option v-bind:value="item.value" v-bind:selected="item.selected">{? item.text ?}</option>
                                        </template>
                                    </select>
                                    <label>{{trans.app_lab_timelineview}}</label>
                                </div>
                                
                                <span class="red--text">{{ trans.app_lab_timelineview_exception }}</span>
                            </v-flex>
                            <v-flex xs12 sm12 md6 lg6 offset-md2 offset-lg2>
                                <span class="grey-text">{{trans.app_lab_timeline_viewcount}}</span>
                                <v-btn-toggle v-model="type_app.timeline_viewcount">
                                    <v-btn flat v-bind:value="cons_timeline_viewcont[0]">
                                        20
                                    </v-btn>
                                    <v-btn flat v-bind:value="cons_timeline_viewcont[1]">
                                        30
                                    </v-btn>
                                    <v-btn flat v-bind:value="cons_timeline_viewcont[2]">
                                        40
                                    </v-btn>
                                </v-btn-toggle>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox v-model="type_app.skip_startpage" label="{{trans.app_lab_skip_startpage}}"></v-checkbox>
                                <v-checkbox v-model="type_app.show_instanceticker" label="{{trans.app_lab_show_instanceticker}}"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                
                            </v-flex>
                            <v-flex xs12 sm12 md6 lg6>
                                <v-btn large color="red" v-on:click="onclick_uninstall_btn">{{trans.lab_uninstall_btn}}</v-btn>
                                <v-btn large color="yellow" v-on:click="onclick_clearcache_btn">{{trans.lab_clearcache_btn}}</v-btn>
                            </v-flex>
                            <v-flex xs12 sm12 md6 lg6>
                                <span>{{ trans.app_item_sync_gdrive }}</span>
                                <p>{{ trans.app_lab_sync_gdrive }}</p>
                                <v-btn small color="primary" v-if="!is_gdrive_authorize" v-on:click="onclick_authorize_drive_btn">{{trans.app_lab_sync_gdrive_authorize}}</v-btn>
                                <v-btn small color="yellow" v-if="is_gdrive_authorize" v-on:click="onclick_forget_drive_btn">{{trans.app_lab_sync_gdrive_forget}}</v-btn>
                                <v-btn small  v-if="is_gdrive_authorize" v-on:click="onclick_organization_account_btn">{{trans.app_lab_sync_gdrive_integrate}}</v-btn>
                                <v-btn small color="primary" v-if="is_gdrive_authorize" v-on:click="onclick_googlesave_btn">{{trans.cons_save}}</v-btn>
                                <br>
                                <v-checkbox v-model="type_app.cloud_manualy_save" label="{{trans.app_item_sync_gdrive_hand}}"></v-checkbox>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
                <v-dialog
                    v-model="is_sync_confirm"
                    persistent transition="dialog-transition"
                >
                    <v-card>
                        <v-card-title primary-title>
                            <h1 class="title">
                            {{trans.app_lab_sync_gdrive_msg1}}
                            </h1>
                        </v-card-title>
                        <v-card-text>
                            <v-list>
                                <v-list-tile v-on:click="onclick_syncconfirm(1)">
                                    {{trans.app_lab_sync_gdrive_first1}}
                                </v-list-tile>
                                <v-divider></v-divider>
                                <v-list-tile v-on:click="onclick_syncconfirm(2)">
                                    {{trans.app_lab_sync_gdrive_first2}}
                                </v-list-tile>
                                <v-divider></v-divider>
                                <v-list-tile v-on:click="onclick_syncconfirm(3)">
                                    {{trans.app_lab_sync_gdrive_first3}}
                                </v-list-tile>
                                <v-divider></v-divider>
                                <v-list-tile v-on:click="onclick_syncconfirm(4)">
                                    {{trans.app_lab_sync_gdrive_first4}}
                                </v-list-tile>
                                <v-divider></v-divider>
                                <v-list-tile v-on:click="onclick_syncconfirm(5)">
                                    {{trans.cons_cancel}}
                                </v-list-tile>
                            </v-list>
                        </v-card-text>
                    </v-card>

                </v-dialog>
            </v-expansion-panel-content>
            <v-expansion-panel-content class="{{sysinfo.color.bg_first}}">
                <div slot="header">{{trans.cfg_panel_action}}</div>
                <v-card>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox hide-details v-model="type_action.confirmBefore" label="{{trans.act_lab_confirmbefore}}"></v-checkbox><br>
                                <span class="title black-text">{{trans.act_lab_boost_actiontype}}</span>
                                <div class="input-field xs6">
                                    <select id="sel_boost_actiontype" v-model="type_action.boost_actiontype">
                                        <template v-for="item in vals_boost_actiontype">
                                            <option v-bind:value="item.value" v-bind:selected="item.selected">{? item.text ?}</option>
                                        </template>
                                    </select>
                                    <label></label>
                                </div>
                                <span class="red--text">{{trans.act_lab_boost_actiontype_help}}</span>

                                <v-checkbox hide-details v-model="type_action.image_everyNsfw" label="{{trans.act_lab_image_everyNsfw}}" v-bind:disabled="type_action.add_nsfw_force_instance||type_action.remove_nsfw_remove_instance"></v-checkbox>
                                <v-checkbox hide-details v-model="type_action.add_nsfw_force_instance" label="{{trans.act_lab_add_nsfw_force_instance}}" v-bind:disabled="type_action.image_everyNsfw"></v-checkbox>
                                <v-textarea v-model="type_action.nsfw_force_instances" label="{{trans.tbl_acc_col3}}"
                                    outline box rows="5" height="10rem" hide-details
                                    v-bind:disabled="type_action.image_everyNsfw"
                                ></v-textarea>
                                <v-layout>
                                    <v-flex xs4>
                                        <v-checkbox hide-details v-model="type_action.enable_nsfw_time" label="{{trans.act_lab_force_nsfw_time}}" v-bind:disabled="type_action.image_everyNsfw"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs3>
                                        <v-dialog ref="begindlg"
                                            v-model="times.begin.modal" :return-value.sync="type_action.force_nsfw_time.begin"
                                            lazy full-width width="290px"
                                        >
                                            <v-text-field slot="activator" readonly v-bind:disabled="type_action.image_everyNsfw"
                                                v-model="type_action.force_nsfw_time.begin"
                                                label="Start" prepend-icon="access_time"
                                            ></v-text-field>
                                            <v-time-picker
                                                v-if="times.begin.modal"
                                                v-model="type_action.force_nsfw_time.begin"
                                                full-width
                                            >
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="times.begin.modal = false">{{trans.cons_cancel}}</v-btn>
                                                <v-btn flat color="primary" @click="$refs.begindlg.save(type_action.force_nsfw_time.begin)">OK</v-btn>
                                            </v-time-picker>
                                        </v-dialog>
                                    </v-flex>
                                    <v-flex xs3>
                                        <v-dialog ref="enddlg"
                                            v-model="times.end.modal" :return-value.sync="type_action.force_nsfw_time.end"
                                            lazy full-width width="290px"
                                        >
                                            <v-text-field slot="activator" readonly v-bind:disabled="type_action.image_everyNsfw"
                                                v-model="type_action.force_nsfw_time.end"
                                                label="End" prepend-icon="access_time"
                                            ></v-text-field>
                                            <v-time-picker
                                                v-if="times.end.modal"
                                                v-model="type_action.force_nsfw_time.end"
                                                full-width
                                            >
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="times.end.modal = false">{{trans.cons_cancel}}</v-btn>
                                                <v-btn flat color="primary" @click="$refs.enddlg.save(type_action.force_nsfw_time.end)">OK</v-btn>
                                            </v-time-picker>
                                        </v-dialog>
                                    </v-flex>
                                </v-layout>
                                <v-checkbox hide-details v-model="type_action.remove_nsfw_remove_instance" label="{{trans.act_lab_remove_nsfw_remove_instance}}" v-bind:disabled="type_action.image_everyNsfw"></v-checkbox>
                                <v-textarea v-model="type_action.nsfw_remove_instances" label="{{trans.tbl_acc_col3}}"
                                    outline box rows="5" height="10rem" hide-details
                                    v-bind:disabled="type_action.image_everyNsfw"
                                ></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-container fluid grid-list-md>
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <span class="title">{{trans.tags}}</span>
                                        </v-flex>
                                        <v-flex xs10>
                                            <v-textarea
                                                outline box
                                                rows="10"
                                                height="20rem"
                                                label="{{trans.tags}}"
                                                v-model="temp_tags"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs2>
                                            <v-btn fab dark small color="red" v-on:click="onclick_savetag">
                                                <v-icon dark>save</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                    
                                </v-container>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox hide-details v-model="type_action.popupNewtoot_always" label="{{trans.act_lab_popupNewtoot_always}}"></v-checkbox>
                                <v-checkbox hide-details v-model="type_action.close_aftertoot" label="{{trans.act_lab_close_aftertoot}}" v-bind:disabled="!type_action.popupNewtoot_always"></v-checkbox>
                                <v-checkbox v-model="type_action.noclear_tag" label="{{trans.act_lab_noclear_tag}}"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox v-model="type_action.open_url_after_remove_account" label="{{trans.act_lab_open_url_after_remove_account}}"></v-checkbox>
                                <span>{{trans.act_msg_open_url_after_remove_account}}</span>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>                
            </v-expansion-panel-content>
            <v-expansion-panel-content class="{{sysinfo.color.bg_first}}">
                <div slot="header">{{trans.cfg_panel_notification}}</div>
                <v-card>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox hide-details v-model="type_notification.enable_browser_notification" label="{{trans.ntf_lab_enable_browser_notification}}"></v-checkbox>
                                <v-checkbox class="common_ui_off" hide-details v-model="type_notification.tell_newtoot" label="{{trans.ntf_msg_tell_newtoot}}"></v-checkbox>
                                <v-layout row wrap style="margin-top:0.5rem;">
                                    <v-flex xs12>
                                        <span class="subheading">{{trans.ntf_msg_tell_newtoot_scroll}}</span>
                                    </v-flex> 
                                    <v-flex xs3 offset-xs1>
                                        <v-text-field class="" 
                                            v-model="type_notification.tell_newtoot_scroll"
                                            type="number" min="0" max="500" label=""
                                        ></v-text-field>        
                                    </v-flex>
                                </v-layout>
                                
                                <v-checkbox v-model="type_notification.include_dmsg_tl" label="{{trans.ntf_lab_include_dmsg_tl}}"></v-checkbox>
                                <span>{{trans.ntf_help_include_dmsg_tl}}</span>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-container fluid grid-list-md>
                                    <v-layout row wrap>
                                        <v-flex xs10>
                                            <v-textarea
                                                outline box
                                                rows="5"
                                                height="10rem"
                                                label="{{trans.ntf_lab_toot_limit_instance}}"
                                                v-model="temp_toot_limit"
                                            ></v-textarea>
                                            <p>{{trans.ntf_msg_toot_limit_instance2}}</p>
                                        </v-flex>
                                        <v-flex xs2>
                                            <v-btn fab dark small color="red" v-on:click="onclick_savetootlimit">
                                                <v-icon dark>save</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                    
                                </v-container>                                
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <span class="subheading">{{trans.ntf_lab_display_content_title}}</span>
                                <v-checkbox hide-details v-model="type_notification.notpreview_onmap" label="{{trans.ntf_lab_notpreview_onmap}}"></v-checkbox>
                                <v-checkbox hide-details v-model="type_notification.notpreview_onmedia" label="{{trans.ntf_lab_notpreview_onmedia}}" :disabled="type_notification.minimumize_media_onlink"></v-checkbox>
                                <v-checkbox class="common_ui_off" hide-details v-model="type_notification.minimumize_media_onlink" label="{{trans.ntf_lab_minimumize_media_onlink}}" :disabled="type_notification.notpreview_onmedia"></v-checkbox>
                                <v-checkbox class="common_ui_off" hide-details v-model="type_notification.show_mention_as_name" label="{{trans.ntf_lab_show_mention_as_name}}" :disabled="type_notification.minimumize_media_onlink"></v-checkbox>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>                
            </v-expansion-panel-content>
        </v-expansion-panel>
    </div>
</div>

<input type="hidden" id="hid_id" value="" />
{% endblock %}


{% block userinclude %}
<script src="/static/js/appsettings.js"></script>
{% endblock %}