{% extends "appbase.html" %}

{% block eachtitle %}
 - {{trans.timeline}}
{% endblock %}
{% block content %}

<div id="area_timeline" class="timeline_body">
    <div id="tl_tab" v-cloak>
        <div class="row white nomatlze">
            <div class="col s3">
                <button class="waves-effect waves-light btn-tabbtn btn-flat white btntab_sizer" :class="css.tabs.home" @click="onclick_btntabitem('home')"><i class="material-icons ">home</i><span class="btn-tabbtn-text hidden-sm-and-down">{{trans.home}}</span></button>
            </div>
            <div class="col s3">
                <button class="waves-effect waves-light btn-tabbtn btn-flat white btntab_sizer" :class="css.tabs.list" @click="onclick_btntabitem('list')"><i class="material-icons ">list</i><span class="btn-tabbtn-text hidden-sm-and-down">{{trans.list}}</span></button>
            </div>
            <div class="col s3">
                <button class="waves-effect waves-light btn-tabbtn btn-flat white btntab_sizer" :class="css.tabs.local" @click="onclick_btntabitem('local')"><i class="material-icons ">view_day</i><span class="btn-tabbtn-text hidden-sm-and-down">{{trans.local}}</span></button>
            </div>
            <div class="col s3">
                <button class="waves-effect waves-light btn-tabbtn btn-flat white btntab_sizer" :class="css.tabs.public" @click="onclick_btntabitem('public')"><i class="material-icons ">public</i><span class="btn-tabbtn-text hidden-sm-and-down">{{trans.public}}</span></button>
            </div>
        </div>
        
    </div>
    <div id="tl_common" class="tab-content" v-cloak v-on:scroll="onscroll_timeline">
        <div class="pending_above_area" v-if="pending.above.is == true">
            <v-layout row wrap >
                <v-flex xs2 offset-xs6>
                    <v-btn round color="red" dark v-on:click="onclick_show_pending">{? _T("msg_pending",[pending.above.statuses.length]) ?}</v-btn>
                </v-flex>    
            </v-layout>
        </div>
        <div class="timelinebody toot_timeline_grid  " v-bind:class="timeline_gridstyle">
            <div class="card toot_card_base topItem" >
                <timeline-condition
                    :translation="translations"
                    :condition="tlcond"
                    v-on:saveclose="onsaveclose"
                    v-on:datesaveclose="ondatesaveclose"
                ></timeline-condition>
            </div>

            <timeline-toot 
                v-bind:translation="translations"
                v-bind:toote="status"
                v-bind:key="status.id"
                v-bind:globalinfo="globalInfo"
                v-for="(status,index) in statuses"
                v-bind:gallery_options="gallery_options"
                v-on:replied_post="onreplied_children(status,index)"
                v-on:delete_toot="ondelete_toot_children"
            ></timeline-toot>
        </div>
        <div class="pending_below_area" v-if="statuses.length < 10">
            <v-layout row wrap >
                <v-flex xs2 offset-xs6>
                    <v-btn fab dark small color="red" v-on:click="onclick_load_below">
                        <v-icon>expand_more</v-icon>
                    </v-btn>
                </v-flex>    
            </v-layout>
        </div>
    </div>
        
    
</div>
<input type="hidden" id="hid_timelinetype" value="{{timelinetype}}" />
<input type="hidden" id="hid_timelinetypeid" value="{{timelinetypeid}}" />
<input type="hidden" id="hid_instance" value="{{instance}}" />
<input type="hidden" id="hid_uid" value="{{uid}}" />


{% endblock %}


{% block userinclude %}
<script src="/static/js/apptimeline.js"></script>
{% endblock %}