{% extends "appbase.html" %}

{% block eachtitle %}
 - Timeline
{% endblock %}
{% block content %}

<div id="area_timeline" class="timeline_body">
    <div class="row">
        <div class="col s12">
            <ul  class="tabs tabs-fixed-width">
                <li class="tab col s3"><a class="black-text active" href="#tl_home"><i class="material-icons">home</i><span class="hidden-sm-and-down">{{trans.home}}</span></a></li>
                <li class="tab col s3"><a href="#tl_list" class="black-text"><i class="material-icons">list</i><span class="hidden-sm-and-down">{{trans.list}}</span></a></li>
                <li class="tab col s3"><a href="#tl_local" class="black-text"><i class="material-icons">view_day</i><span class="hidden-sm-and-down">{{trans.local}}</span></a></li>
                <li class="tab col s3"><a href="#tl_public" class="black-text"><i class="material-icons">public</i><span class="hidden-sm-and-down">{{trans.public}}</span></a></li>
            </ul>
        </div>
        <div id="tl_home" class="col s12 tab-content" v-on:scroll="onscroll_timeline">
            <!-- 
                toot_timeline_grid  
                card toot_card_base topItem
            -->
            <div class="timelinebody toot_timeline_grid  " v-bind:class="timeline_gridstyle">
                <div class="card toot_card_base topItem" >
                    <!--<div class="item-content card-content">
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="sel_tlshare" v-model="selshare_current">
                                    <template v-for="item in sel_tlshare">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <select id="sel_tltype" v-model="seltype_current">
                                    <template v-for="item in sel_tltype">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                        
                                    </template>

                                </select>
                            </div>
                        </div>
                    </div>-->
                    <timeline-condition
                        :translation="translations"
                        :condition="tlcond"
                        v-on:saveclose="onsaveclose"
                    ></timeline-condition>
                </div>

                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                    v-on:delete_toot="ondelete_toot_children"
                ></timeline-toot>

            </div>

            
        </div>
        <div id="tl_list" class="col s12 tab-content" v-on:scroll="onscroll_timeline">
            <div class="timelinebody toot_timeline_grid" v-bind:class="timeline_gridstyle">
                <div class="card toot_card_base topItem" >
                    <!--<div class="card-content">
                        <div class="row">
                            <div class="input-field col s4">
                                <select id="sel_listtype" v-model="sellisttype_current">
                                    <option v-for="(item,index) in sel_listtype" v-bind:key="index" v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                </select>
                            </div>
                            <div class="input-field col s4">
                                <select id="sel_tlshare_list" v-model="selshare_current">
                                    <template v-for="item in sel_tlshare">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="input-field col s4">
                                <select id="sel_tltype_list" v-model="seltype_current">
                                    <template v-for="item in sel_tltype">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>

                                </select>
                            </div>
                        </div>
                    </div>-->
                    <timeline-condition
                        :translation="translations"
                        :condition="tlcond"
                        v-on:saveclose="onsaveclose"
                    ></timeline-condition>
                </div>
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
        </div>
        <div id="tl_local" class="col s12 tab-content" v-on:scroll="onscroll_timeline">
            <div class="timelinebody toot_timeline_grid" v-bind:class="timeline_gridstyle">
                <div class="card toot_card_base topItem" >
                    <!--div class="card-content">
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="sel_tlshare_local" v-model="selshare_current">
                                    <template v-for="item in sel_tlshare">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <select id="sel_tltype_local" v-model="seltype_current">
                                    <template v-for="item in sel_tltype">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>

                                </select>
                            </div>
                        </div>
                    </div>-->
                    <timeline-condition
                        :translation="translations"
                        :condition="tlcond"
                        v-on:saveclose="onsaveclose"
                    ></timeline-condition>
                </div>
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
        </div>
        <div id="tl_public" class="col s12 tab-content" v-on:scroll="onscroll_timeline">
            <div class="timelinebody toot_timeline_grid" v-bind:class="timeline_gridstyle">
                <div class="card toot_card_base topItem" >
                    <!--<div class="card-content">
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="sel_tlshare_public" v-model="selshare_current">
                                    <template v-for="item in sel_tlshare">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <select id="sel_tltype_public" v-model="seltype_current">
                                    <template v-for="item in sel_tltype">
                                        <option v-bind:value="item.value" v-bind:selected=item.selected>{? item.text ?}</option>
                                    </template>

                                </select>
                            </div>
                        </div>
                    </div>-->
                    <timeline-condition
                        :translation="translations"
                        :condition="tlcond"
                        v-on:saveclose="onsaveclose"
                    ></timeline-condition>
                </div>
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
        </div>
    </div>

</div>
<input type="hidden" id="hid_timelinetype" value="{{timelinetype}}" />
<input type="hidden" id="hid_timelinetypeid" value="{{timelinetypeid}}" />
<input type="hidden" id="hid_instance" value="{{instance}}" />
<input type="hidden" id="hid_uid" value="{{uid}}" />


{% endblock %}


{% block userinclude %}
<script src="/static/js/apptimeline.js"></script>
{% endblock %}