{% extends "appbase.html" %}

{% block eachtitle %}
 - Users
{% endblock %}
{% block content %}
<div id="area_user" class=" account_body">
    <div id="userview" class="user-view" v-cloak>
        <div class="background">
        <img id="us_header" v-bind:src="header" alt=""></img>
        </div>
        <div class="user-textinfo z-depth-2 truncate">
            <a v-bind:href="rawdata.url" target="_blank" rel="noopener">
                <img id="us_avatar" class="userrectangle" v-bind:src="avatar" alt="">
                <div style="display:inline-block">
                    <span id="us_display_name" class="white-text name" v-html="ch2seh(full_display_name)"></span>
                    <span id="us_idname_instance" class="white-text email" v-cloak>{? full_acct ?}</span>
                </div>
                <v-tooltip bottom>
                    <v-icon slot="activator" v-if="rawdata.locked">lock</v-icon>
                    <span>{{trans.msg_locked}}</span>
                </v-tooltip>
            </a>
        </div>
        <div id="lab_inaccurate" class="user-action-btns inaccurate elevation-2 common_ui_off" >{{trans.msg_inaccurate}}</div>
        <div class="user-action-btns col1 elevation-2" v-if="hide_on_noauth()">
            <v-layout column>
                <v-flex xs12>
                    
                </v-flex>
                <v-flex xs12>
                    <div class="switch">
                        <label>
                            <i class="material-icons tooltipped" data-position="bottom" data-tooltip="{{trans.to_unfollow}}">person_outline</i>
                            <input type="checkbox" v-model="stat.following" v-on:change="oncheck_following">
                            <span class="lever"></span>
                            <i class="material-icons tooltipped white-text" data-position="bottom" data-tooltip="{{trans.to_follow}}">person_add</i>
                        </label>
                    </div>
                </v-flex>
            </v-layout>
            <!--<div class="col s12">
                
                    <a href="#" v-if="stat.following" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_follow}}"><i class="material-icons">person_add</i></a>
                    <a href="#" v-else class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_unfollow}}"><i class="material-icons">person_outline</i></a>
                
                
            </div>-->
        </div>
        <div class="user-action-btns col2 elevation-2" v-if="stat.followed_by">
            
            <span >{? showRelationshpText() ?}</span>
        </div>
        <div class="user-action-btns col3 elevation-2">
            <v-layout row wrap>
                <v-flex xs12 v-if="hide_on_noauth()">
                    <!--<v-tooltip bottom>
                        <v-btn flat small icon dark color="white" v-on:click="onclick_mention" slot="activator">
                            <v-icon>alternate_email</v-icon>
                        </v-btn>
                        
                        <span>{{trans.to_mention}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <v-btn flat small icon dark color="white" v-on:click="onclick_directmsg" slot="activator">
                            <v-icon>email</v-icon>
                        </v-btn>
                        
                        <span>{{trans.to_directmsg}}</span>
                    </v-tooltip>
                    -->
                    <v-tooltip bottom>
                        <v-btn flat icon color="white" slot="activator" v-on:click="onclick_mention">
                            <v-icon>alternate_email</v-icon>
                        </v-btn>
                        <span>{{trans.to_mention}}</span>
                    </v-tooltip>
                    
                    <!--<a class="waves-effect waves-red white-text tooltipped" v-on:click="onclick_mention" data-position="bottom" data-tooltip="{{trans.to_mention}}"><i class="material-icons">alternate_email</i></a>-->
                </v-flex>
                <v-flex xs12 v-if="hide_on_noauth()">
                    <!--<a class="waves-effect waves-red white-text tooltipped" v-on:click="onclick_directmsg" data-position="bottom" data-tooltip="{{trans.to_directmsg}}"><i class="material-icons">email</i></a>-->
                    <v-tooltip bottom>
                        <v-btn flat icon color="white" slot="activator" v-on:click="onclick_directmsg">
                            <v-icon>email</v-icon>
                        </v-btn>
                        <span>{{trans.to_directmsg}}</span>
                    </v-tooltip>
                </v-flex>
                <v-flex xs12>
                    <!--<a v-bind:href="rss_url" target="_blank" rel="noopener" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_rssfeed}}"><i class="material-icons">rss_feed</i></a>-->
                    <v-tooltip bottom>
                        <v-btn flat icon color="white" slot="activator" v-on:click="onclick_any_link()">
                            <v-icon>business</v-icon>
                        </v-btn>
                        <span>{{trans.to_show_their_instance}}</span>
                    </v-tooltip>
                    
                </v-flex>
                <v-flex xs12>
                    <!--<a v-bind:href="rss_url" target="_blank" rel="noopener" class="waves-effect waves-red white-text tooltipped" data-position="bottom" data-tooltip="{{trans.to_rssfeed}}"><i class="material-icons">rss_feed</i></a>-->
                    <v-tooltip bottom>
                        <v-btn flat icon color="white" slot="activator" v-on:click="onclick_rssfeed(rss_url)">
                            <v-icon>rss_feed</v-icon>
                        </v-btn>
                        <span>{{trans.to_rssfeed}}</span>
                    </v-tooltip>
                    
                </v-flex>
                <v-flex xs12 v-if="hide_on_noauth()">
                    <!--<a class="waves-effect waves-red white-text dropdown-trigger" data-target='dropdown1'><i class="material-icons">more_vert</i></a>
                    
                    <v-btn flat icon color="white" class="dropdown-trigger" data-target='dropdown1'>
                        <v-icon>more_vert</v-icon>
                    </v-btn>-->
                    <div>
                        <v-menu offset-y open-on-hover>
                            <v-btn flat icon slot="activator" color="white">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile @click="onclick_endorse">
                                    <v-list-tile-title>{? !stat.endorsed ? translations.to_endorse : translations.to_unendorse ?}
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="onclick_showing_reblogs">
                                    <v-list-tile-title>{? cssstyle_showing_reblogs ?}
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="onclick_mute">
                                    <v-list-tile-title>{? stat.muting ? translations.to_muteoff : translations.to_mute ?}
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="onclick_block">
                                    <v-list-tile-title>{? stat.blocking ? translations.to_blockoff : translations.to_block ?}
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>{{trans.to_report}}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </div>
                </v-flex>
            </v-layout>
        </div>
        <!--<ul id='dropdown1' class='dropdown-content' style="width:250px">
            <li><a v-bind:class="stat_style.endorsed" v-on:click="onclick_endorse" ><i class="material-icons">sentiment_very_satisfied</i>{? !stat.endorsed ? translations.to_endorse : translations.to_unendorse ?}</a></li>
            <li v-if="stat.following"><a v-bind:class="stat_style.showing_reblogs" v-on:click="onclick_showing_reblogs"><i class="material-icons">notifications_paused</i>{? cssstyle_showing_reblogs ?}</a></li>
            <li><a v-bind:class="stat_style.mute" v-on:click="onclick_mute"><i class="material-icons">volume_off</i>{? stat.muting ? translations.to_muteoff : translations.to_mute ?}</a></li>
            <li><a v-bind:class="stat_style.block" v-on:click="onclick_block"><i class="material-icons">block</i>{{trans.to_block}}</a></li>
            <li><a class="black-text"><i class="material-icons">report_problem</i>{{trans.to_report}}</a></li>
        </ul>-->
    </div>
    <div class="row user-tabs">
        <div class="col s12 tabbar">
            <ul id="tabbar" class="tabs tabs-fixed-width">
                <li class="tab col s2"><a href="#basicinfo">{{trans.acc_tab_info}}</a></li>
                <li class="tab col s2"><a href="#tt_public">{{trans.acc_tab_toot}} ({? status_count ?})</a></li>
                <!--<li class="tab col s2"><a href="#tt_tlonly">{{trans.acc_tab3}}</a></li>
                <li class="tab col s2"><a href="#tt_private">{{trans.acc_tab4}}</a></li>-->
                <li class="tab col s2"><a href="#tt_follow">{{trans.acc_tab_following}} ({? following_count ?})</a></li>
                <li class="tab col s2"><a href="#tt_follower">{{trans.acc_tab_follower}} ({? follower_count ?})</a></li>
            </ul>
        </div>
        <!-- tab content -->
        <div id="basicinfo" class="col s12 tabcontent" v-cloak>
            <p id="us_description" class="flow-text" v-html="ch2seh(display_note(note))"></p>
            <ul id="tbl_fields" class="collection" >
                <li class="collection-item avatar" v-for="fld in fields">
                    <i class="material-icons circle">{? fld.name.indexOf(":") >= 0 ? fld.name.split(":")[0] : "comment"?}</i>
                    <span class="title">{? fld.name.indexOf(":") >= 0 ? fld.name.split(":")[1] : fld.name ?}</span>
                    <p v-html="ch2seh(fld.value)"></p>
                </li>
            </ul>
            <h3 v-if="statuses.length > 0">{{ trans.pinned_post }}</h3>
            <div class="timelinebody toot_timeline_grid"  v-bind:class="timeline_gridstyle" v-if="statuses.length > 0">
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
        </div>
        <div id="tt_public" class="col s12 tabcontent" v-cloak>
            <div class="pending_above_area" v-if="pending.above.is == true">
                <v-layout row wrap >
                    <v-flex xs2 offset-xs4>
                        <v-btn round color="red" dark v-on:click="onclick_show_pending">{? _T("msg_pending",[pending.above.statuses.length]) ?}</v-btn>
                    </v-flex>    
                </v-layout>
            </div>
            <div class="timelinebody toot_timeline_grid" v-bind:class="timeline_gridstyle">
                <div class="card  post_card_base post_card_top" >
                    <timeline-condition
                        :translation="translations"
                        :condition="tlcond"
                        v-on:saveclose="onsaveclose"
                        v-on:datesaveclose="ondatesaveclose"
                    ></timeline-condition>
                </div>
                <timeline-toot 
                    v-bind:translation="translations"
                    v-bind:toote="status"
                    v-bind:key="status.id"
                    v-bind:globalinfo="globalInfo"
                    v-for="(status,index) in statuses"
                    v-on:replied_post="onreplied_children(status,index)"
                ></timeline-toot>
            </div>
            <!--
                 
                    v-bind:cardtype_size="status.cardtypeSize"
                    v-bind:toot_reactions="status.reactions"
                    v-bind:account="status.account"
                    v-bind:toote="status.body" 
                    v-bind:toote_mentions="status.mentions"
                    v-bind:toote_tags="status.tags"
                    v-bind:ancestors="status.ancestors",
                    v-bind:descendants="status.descendants"
            -->
            <div class="pending_below_area" v-if="statuses.length < 10">
                <v-layout row wrap >
                    <v-flex xs2 offset-xs6>
                        <v-btn fab dark small color="red" v-on:click="onclick_load_below">
                            <v-icon>expand_more</v-icon>
                        </v-btn>
                    </v-flex>    
                </v-layout>
            </div>
        </div>
        <!--<div id="tt_tlonly" class="col s12 tabcontent">

        </div>
        <div id="tt_private" class="col s12 tabcontent">

        </div>-->
        <div id="tt_follow" class="col s12 tabcontent" v-cloak>
            <h3 v-if="is_vanished === true" v-cloak>{{ trans.msg_connection_vanish }}</h3>
            <div class="user-grid sizing">
                <div class="user-grid-item" v-for="selected in accounts">
                    <user-popupcard
                        v-bind:cardtype="cardtype"
                        v-bind:translation="translations"
                        v-bind:account="selected"
                        v-bind:relationship="selected.relationship"
                        v-bind:globalinfo="globalInfo"
                    ></user-popupcard>
                </div>
            </div>
        </div>
        <div id="tt_follower" class="col s12 tabcontent" v-cloak>
            <h3 v-if="is_vanished === true" v-cloak>{{ trans.msg_connection_vanish }}</h3>
            <div class="user-grid sizing">
                <div class="user-grid-item" v-for="selected in accounts">
                    <user-popupcard
                        v-bind:cardtype="cardtype"
                        v-bind:translation="translations"
                        v-bind:account="selected"
                        v-bind:relationship="selected.relationship"
                        v-bind:globalinfo="globalInfo"
                    ></user-popupcard>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hid_instance" value="{{instance}}" />
<input type="hidden" id="hid_uid" value="{{uid}}" />
<input type="hidden" id="hid_page" value="{{page}}" />
<input type="hidden" id="hid_id" value="{{realid}}" />
<input type="hidden" id="hid_userdata" value="{{userdata}}" />
<input type="hidden" id="hid_onetoote" value="{{onetoote}}" />
{% endblock %}


{% block userinclude %}
<script src="/static/js/appuser.js"></script>
{% endblock %}