<div id="ov_image" class="modal">
    <div class="modal-content"></div>
</div>
<div id="mbl_search" class="mobile-search">
    <v-dialog
        v-model="dialog"
        full-width 
        transition="dialog-transition"
    >
        <v-card>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                            <form v-on:submit.prevent="onsubmit_search">  
                                <v-text-field 
                                    label="search" 
                                    v-model="findtext"
                                    prepend-icon="search"
                                    clearable
                                ></v-text-field>
                            </form>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>
<div id="modal1" >
    <!--<div class="modal-content">class="modal"
        <h4>{{ trans.opt_turnEdit }}</h4>
        <ul id="nav_sel_account" class="collection">
            <li v-for="ac in accounts" class="collection-item avatar">
                <a href="#" v-on:click="onclick_item">
                    <img
                        v-bind:src="ac.rawdata.avatar"
                        class="circle"
                        width="48"
                        height="48"
                        v-bind:title="ac.idname+','+ac.instance"
                    />
                    <span
                        class="modal-avatar-title"
                        v-bind:title="ac.idname+','+ac.instance"
                        >{? ac.display_name + "@" + ac.instance ?}</span
                    >
                </a>
            </li>
        </ul>
    </div>-->
    <v-dialog v-model="isdialog_selaccount" v-bind:width="dialog_width">
        <v-card>
            <v-card-title class="headline">{{ trans.opt_turnEdit }}</v-card-title>
            <v-card-text>
                <div id="nav_sel_account">
                    <v-list dense v-bind:class="uistyle.bgcolor">
                        <v-list-tile avatar v-bind:key="i" v-for="(ac,i) in accounts" v-on:click.stop="onclick_item(ac.idname,ac.instance)">
                            <v-list-tile-avatar >
                                <span v-if="isCurrentAccount(ac)" class="red">[</span>
                                <v-img v-bind:src="ac.rawdata.avatar" class="userrectagnle" v-bind:title="ac.idname">
                            </v-list-tile-avatar>
                            <v-list-tile-content v-bind:title="ac.idname" v-html="ch2seh(fullname(ac))"></v-list-tile-content>
                            <v-list-tile-action>
                                <span class="new badge red" v-if="ac.notifications.length > 0">{? ac.notifications.length ?}</span>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>
                </div>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>
<div id="ov_notif" class="common_ui_off">
    <div id="ov_notif_overlay" v-on:click="onclick_ov_notif_overlay">

    </div>
    <div id="ov_notif_menu" v-show="dialog" class="notifmenu white z-depth-2 ">
        <v-card color="white">
            <v-card-actions>
                <v-layout row wrap v-if="boarding === 0">
                    <v-flex xs6>
                        <v-btn flat v-on:click="onclick_shownotifpage">{? _T("msg_show_notification") ?}</v-btn>                        
                    </v-flex>
                    <v-flex xs1 offset-xs5>
                        <v-btn flat icon v-on:click="onclick_clearall">
                            <v-icon>clear_all</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row wrap v-if="boarding === 1">
                    <v-flex xs3>
                        <v-btn flat icon v-on:click="prev_page">
                            <v-icon>arrow_back</v-icon>
                        </v-btn>
                        <v-btn flat icon v-on:click="onclick_current_clear(saveitem.id)">
                            <v-icon>clear</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex xs1 offset-xs8>
                        <v-btn flat icon v-on:click="onclick_open_in_new_toot(status)">
                            <v-icon>open_in_new</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card-actions>
        </v-card>
        <v-window v-model="boarding" style="width:100%;height:100%;">
            <v-window-item >
                <v-card class="notiflist_card">
                    <template v-if="currentAccount.notifications.length > 0">
                        <v-list two-line>
                            <template v-for="(item,index) in currentAccount.notifications">
                                <v-list-tile avatar v-bind:key="item.id" v-on:click="onclick_notif_line(index)">
                                    <v-list-tile-avatar>
                                        <img v-bind:src="item.account[0].avatar" class="userrectangle">
                                        <v-icon  small class="notif_avatar_mark tooltipped" v-bind:class="judge_colorFromType(item.type)" data-position="right" v-bind:data-tooltip="get_translated_typename(item.type)">{? get_type_icon(item.type) ?}</v-icon>
                                    </v-list-tile-avatar>
                                    
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            <!--<span style="display:inline-block;" v-bind:class="judge_colorFromType(item.type)">
                                                <v-icon class="white-text">{? get_type_icon(item.type) ?}</v-icon>
                                                <span >{? get_translated_typename(item.type) ?}</span>
                                            </span>-->
                                            <b v-html="ch2seh(get_display_name_html(item.account))"></b>
                                        </v-list-tile-title>
                                        <v-list-tile-sub-title>{? generate_oneline_content(item) ?}</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                    <v-list-tile-action>
                                        <v-btn flat icon v-on:click.stop="onclick_notif_linebtn(index)">
                                            <v-icon>clear</v-icon>
                                        </v-btn>
                                    </v-list-tile-action>
                                </v-list-tile>
                                <v-divider></v-divider>
                            </template>
                        </v-list>
                    </template>
                    <template v-else>
                        <v-layout align-center justify-center row fill-height>
                            <div>
                                <img src="/static/images/app_empty_icon.png" width="52" height="52"/>
                            </div>
                        </v-layout>
                    </template>
                </v-card>
            </v-window-item>
            <v-window-item class="vwinsizing">
                <div class="notiflist_card toot_timeline_grid">
                    <!--<template v-if="status != null">
                            v-bind:datastyle="datastyle"
                            v-bind:comment_viewstyle="comment_viewstyle"
                            v-bind:comment_list_area_viewstyle="comment_list_area_viewstyle"

                        -->
                        <timeline-toot ref="tootview"
                            v-bind:translation="translations"
                            v-bind:toote="status"
                            v-bind:popuping="popuping"
                            v-bind:content_body_style="content_body_style"
                            v-bind:globalinfo="globalInfo"
                            v-bind:gallery_options="gallery_options"
                            v-on:replied_post="onreplied_children(status,index)"
                            v-on:delete_toot="ondelete_toot_children"        
                        ></timeline-toot>
                    <!--</template>-->
                </div>
            </v-window-item>
        </v-window>
    </div>
</div>
<div id="imagescreen" >
    <v-dialog
        v-model="imgdialog"
        width="fit-content"
        transition="dialog-transition"
    >
        <v-card v-if="item">
            
            <v-layout  align-center justify-center>
                <div style="width:100%;height:100%;">
                    <template v-if="item.type=='video'">
                        <a v-bind:href="item.url" target="_blank" rel="noopener" class="waves-effect waves-light image-popup-btn"><i class="material-icons">open_in_new</i></a>
                        <video controls v-bind:src="item.url" class="" v-if="item.meta.width >= item.meta.height" v-bind:title="item.description" v-bind:alt="item.description">Video: {{ item.description }}</video>
                        <video controls v-bind:src="item.url" class="" v-else v-bind:title="item.description" v-bind:alt="item.description">Video: {{ item.description }}</video>
                    </template>
                    <template v-else-if="item.type=='gifv'">
                        <a v-bind:href="item.url" target="_blank" rel="noopener" class="waves-effect waves-light image-popup-btn"><i class="material-icons">open_in_new</i></a>
                        <video loop autoplay v-bind:src="item.url" class="landscape" v-on:click="onmouseenter_gifv" v-if="item.meta.width >= item.meta.height"  v-bind:title="item.description" v-bind:alt="item.description">Video: {{ item.description }}</video>
                        <video loop autoplay v-bind:src="item.url" class="landscape" v-on:click="onmouseenter_gifv" v-else v-bind:title="item.description" v-bind:alt="item.description">Video: {{ item.description }}</video>
                    </template>
                    <template v-else>
                        <a v-bind:href="item.url" target="_blank" rel="noopener" class="waves-effect waves-light image-popup-btn"><i class="material-icons">open_in_new</i></a>
                        <template v-if="item.meta.small.width >= item.meta.small.height">
                            <img 
                                v-bind:src="item.url" 
                                
                                class="landscape" v-bind:title="item.description" v-bind:alt="item.description"
                            >
                                <!--<v-layout slot="placeholder" v-bind:lazy-src="item.preview_url" 
                                    fill-height align-center justify-center ma-0
                                >
                                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                </v-layout>-->
                            </img>
                        </template>
                        <template v-else>
                            <img 
                                v-bind:src="item.url" 
                                
                                class="portrait" v-bind:title="item.description"  v-bind:alt="item.description"
                            >
                            <!--<v-layout slot="placeholder" v-bind:lazy-src="item.preview_url" 
                                fill-height align-center justify-center ma-0
                            >
                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                </v-layout>-->
                            </img>
                        </template>
                    </template>
                </div>
            </v-layout>
        </v-card>
    </v-dialog>
</div>
<div id="appverdlg">
    <v-dialog
        v-model="isappdialog"
        transition="dialog-transition"
        max-width="320px" 
    >
        <v-card>
            <v-img src="/static/images/gp_og_image.png" width="320px" aspect-ratio="1.7"></v-img>
            <v-card-title primary-title>
                <div>
                    <div class="mb-2">
                        {{trans.msg_ini_subtitle}}<br>
                        {{trans.msg_ini_heading1}}

                    </div>
                    <div>
                        {{trans.lab_version}}: {{sysinfo.version}} ({? revision ?})<br>
                        {{trans.lab_author}}: {{sysinfo.author}}<br>
                        {{trans.lab_advisor}}: 
                        <ul>
                            {% for  item in sysinfo.advisor %}
                            <li>{{item}}</li>
                            {% endfor %}
                        </ul><br>
                        
                    </div>
                </div>
            </v-card-title>
            <v-card-actions>
                <a href="https://github.com/nishlumi/gplusdon" target="_blank" rel="noopener">github</a>
                <v-spacer></v-spacer>
                <v-btn ><a id="sm_help" href="https://docs.google.com/document/d/1mJbQYGxaCfe4Ly86_Su1vseZ9yfoT3rm8n4R8mR3oxA/edit?usp=sharing" target="_blank"><span>{{trans.help}}</span></a></v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
<div id="mbl_detailmenu">
    <!--<v-navigation-drawer v-model="is_show" right absolute temporary >-->
            <!-----reveal menu for the toot-->
        <v-card class="panel-mobile-detailmenu" :class="cssclass.paneling">
            <div v-if="toote">
                <v-card-title primary-title class="mbl_title">
                    <v-layout row wrap>
                        <v-flex xs11>
                                <span class="title">{{ trans.detail }}</span>
                        </v-flex>
                        <v-flex xs1>
                            <span class="right" v-on:click="onclick_vealclose"><i class="material-icons btn_vealclose">close</i></span>        
                        </v-flex>
                    </v-layout>                    
                </v-card-title>
                <v-card-text class="mbl_body">
                    <v-list>
                            <v-divider></v-divider>
                        <v-list-tile>
                            <v-list-tile-title><a v-bind:href="toote.body.url" target="_blank" rel="noopener" class="collection-item">{{ trans.thistoot_original }}</a></v-list-tile-title>
                        </v-list-tile>
                            <v-divider></v-divider>
                        <v-list-tile v-on:click="onclick_copytext(toote)">
                            <v-list-tile-title>{{trans.thistoot_copy}}</v-list-tile-title>
                        </v-list-tile>
                            <v-divider></v-divider>
                        <template v-if="toote.relationship.isme">
                            <v-list-tile v-on:click="onclick_toote_pinn(toote)">
                                <v-list-tile-title>{? toote.body.pinned ? translation.thistoot_unpinned : translation.thistoot_pinned ?}</v-list-tile-title>
                            </v-list-tile>
                                <v-divider></v-divider>
                            <v-list-tile v-on:click="onclick_toote_delete(toote,-1)">
                                    <v-list-tile-title>{{ trans.thistoot_delete }}</v-list-tile-title>
                            </v-list-tile>
                                <v-divider></v-divider>
                        </template>
                        <v-list-tile v-on:click="onclick_toote_mute(toote,-1)">
                            <v-list-tile-title>{? toote.body.muted ? translation.thistoot_unmute : translation.thistoot_mute ?}</v-list-tile-title>
                        </v-list-tile>
                            <v-divider></v-divider>
                        <template v-if="!toote.relationship.isme">
                            <v-list-tile v-on:click="onclick_user_mute(toote.account,-1)">
                                <v-list-tile-title v-html="ch2seh(toote.relationship.muting ? toote.translateText.thisuser_unmute : toote.translateText.thisuser_mute)"></v-list-tile-title>
                            </v-list-tile>
                                <v-divider></v-divider>
                            <v-list-tile v-on:click="onclick_user_block(toote.account,-1)">
                                <v-list-tile-title v-html="ch2seh(toote.relationship.blocking ? toote.translateText.thisuser_unblock : toote.translateText.thisuser_block)"></v-list-tile-title>
                            </v-list-tile>
                                <v-divider></v-divider>
                            <v-list-tile v-on:click="onclick_user_endorse(toote.account,-1)">
                                <v-list-tile-title v-html="ch2seh(toote.body.pinned ? toote.translateText.thisuser_unendorse : toote.translateText.thisuser_endorse)"></v-list-tile-title>
                            </v-list-tile>
                                <v-divider></v-divider>
                            <v-list-tile v-on:click="onclick_user_report(toote.account, toote, -1)">
                                <v-list-tile-title v-html="ch2seh(toote.translateText.thisuser_report)"></v-list-tile-title>
                            </v-list-tile>
                            <v-divider></v-divider>
                        </template>
                        <v-list-tile v-on:click="onclick_any_link(toote)">
                            <v-list-tile-title>{{ trans.to_show_their_instance }}</v-list-tile-title>
                        </v-list-tile>

                    </v-list>
                    <dl>
                        <dt>{{trans.lab_each_info}}</dt>
                        <dd>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <a :href="get_instance_original_url(toote)" target="_blank">{{trans.lab_instance_original}}</a>
                                </v-flex>
                                <v-flex xs4>
                                        {{trans.lab_original_postdate}}
                                    </v-flex>
                                    <v-flex xs8>
                                        <span>{?toote.body.created_at?}</span>
                                    </v-flex>
                                    <v-flex xs4>
                                        {{trans.lab_language}}
                                    </v-flex>
                                    <v-flex xs8>
                                        <span>{?toote.body.language?}</span>
                                    </v-flex>
                                    <v-flex xs4>
                                        {{trans.lab_source_app}}
                                    </v-flex>
                                    <v-flex xs8>
                                        <template v-if="toote.body.application">
                                            <template v-if="toote.body.application.website != ''">
                                                <a :href="toote.body.application.website" target="_blank">{?toote.body.application.name?}</a>
                                            </template>
                                            <template v-else>
                                                <span>{?toote.body.application.name?}</span>
                                            </template>
                                        </template>
                                        <template v-else>
                                            {{trans.lab_unknown}}
                                        </template>
                                    </v-flex>
                                </v-layout>
                        </dd>
                        <dt>{{ trans.mentions }}</dt>  
                        <dd>  
                        <a class="chip" v-for="men in toote.body.mentions" :href="men.url" rel="noopener" target="_blank">{? men.acct ?}</a>  
                        </dd>  
                        <dt>{{ trans.tags }}</dt>  
                        <dd>
                        <a class="chip" v-for="tag in toote.body.tags" :href="tag.url" rel="noopener">{? tag.name ?}</a>
                        </dd>  
                    </dl>
                </v-card-text>  
            
                <input type="hidden" name="tootid" v-bind:value="toote.body.id">
                <input type="hidden" name="userid" v-bind:value="toote.account.id">
            </div>
        </v-card>
    <!--</v-navigation-drawer>-->
</div>