<div class="emoji-view">
    <v-bottom-sheet v-model="is_sheet"  class="white"
        hide-overlay persistent  inset
    >
        <v-card>
            <v-layout row wrap >
                <v-flex xs12 sm5 md3 style="overflow:auto;padding:1rem;">
                    
                    <!--<details>
                        <summary class="list_summary">UTF-8 {{ trans.Pictogram }} </summary>
                        <v-list two-line full-width>
                            <template v-for="(item, index) in emojis_title.utf8">
                                <v-list-tile v-if="item.type == 'pict'" :key="index"  v-on:click="onclick_keymaplistitem(index,'pict')">
                                    <v-list-tile-content>
                                        <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                        <v-list-tile-sub-title v-html="item.group"></v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>
                        </v-list>
                    </details>
                    <details>
                        <summary class="list_summary">UTF-8 {{ trans.Letter }}</summary>
                        <v-list two-line full-width>
                            <template v-for="(item, index) in emojis_title.utf8">
                                <v-list-tile v-if="item.type == 'lett'" :key="index"  v-on:click="onclick_keymaplistitem(index,'lett')">
                                    <v-list-tile-content>
                                        <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                        <v-list-tile-sub-title v-html="item.group"></v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>
                        </v-list>
                    </details>

                    <details>
                        <summary class="list_summary">{{ trans.tbl_acc_col3 }}</summary>
                        <v-list two-line full-width>
                            <v-list-tile  :key="index" v-for="(item, index) in emojis_title.instances" v-on:click="onclick_keymaplistitem(index,'inst')">
                                <v-list-tile-content>
                                    <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                    <v-list-tile-sub-title v-html="item.group"></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </details>-->
                    
                    <v-select
                        :items="emoji_seltitle" v-model="sel_seltitle"
                        box
                        item-text="text" item-value="id"
                    ></v-select>

                    <v-select
                        :items="emoji_subtitle" v-model="sel_selsubtitle"
                        box
                        item-text="text" item-value="id"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm7 md9>
                    <v-card flat>
                        <div id="chararea"></div>    
                    </v-card>
                </v-flex>
            </v-layout>
        </v-card>
    </v-bottom-sheet>
</div>
